.AddtoCartPopup {
  // @media screen and (min-width:1500px) {
  //   max-width: 98%;
  //   max-height: 98%;

  // }
  // max-width: 98%;
  // max-height: calc(100vh - 80px);
  // height: auto;
  // margin: 0 auto;
  // margin-top: 10px;
  max-width: 90% !important;
  height: auto !important;
  margin: 10px auto 0 !important;

  @media screen and (min-width:1200px) {
    max-width: 1200px !important;

  }

  

  .form-check {
    padding-left: 1.15em;
    .form-check-input{
      margin-top: 0.5rem !important;
      margin-left: -1.5em !important;
    }
  }
  .close-button {
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 11;

    @media screen and (max-width: 991px) {
      top: -1%;
      right: -1%;
    }

    button {
      color: #000;
      font-size: 25px;
      background-color: transparent;
      border: none;

      img {
        max-width: 12px;
      }

      &:not(:disabled):not(.disabled):active:focus {
        box-shadow: none;
        border: none;
      }

      &:focus:active {
        background-color: transparent;
      }

      @media screen and (max-width: 992px) {
        font-size: 15px;
        background-color: rgb(233, 233, 233);
        border-radius: 50%;
        margin: 3px;
      }
    }
  }

  .productName {
    padding-top: 25px;

    p {
      font: normal normal normal 1rem/23px Helvetica-Neue-Medium;
      font-size: 14px;
      letter-spacing: 0px;
      color: #000000;

      span {
        font: normal normal normal 1rem/10px Helvetica-Neue;
        font-size: 14px;
        letter-spacing: 0px;
        color: #6a6a6a;
      }
    }

    h1 {
      font: normal normal normal 2rem/32px Helvetica-Neue-Medium;
      font-size: 28px;
      letter-spacing: 0px;
      color: #000000;

      @media (max-width: 576px) {
        font-size: 19.6px;
      }
    }

    border-bottom: 0.75px solid #70707062;
  }

  // .add-wish {
  //   position: absolute;
  //   right: 5%;
  //   top: 5%;
  // }
  .pleatselect,
  .lining {
    p {
      font: normal normal normal 1rem/23px Helvetica-Neue-Medium;
      font-size: 14px;
      letter-spacing: 0px;
      color: #000000;
    }

    .form-check {
      .form-check-label {
        font: normal normal normal 14px/35px Helvetica-Neue;
        letter-spacing: 0px;
        color: #000000;
      }
    }

    border-bottom: 0.75px solid #70707062;
  }

  .measurement,
  .choose_fabric {
    .form-check {
      .form-check-label {
        font: normal normal normal 1rem/23px Helvetica-Neue;
        font-size: 18px;
        padding-top: 5px;
      }
    }

    .form-select {
      font: normal normal normal 1rem/23px Helvetica-Neue;
      font-size: 14px;
    }

    .form-label,
    p {
      font: normal normal normal 1rem/23px Helvetica-Neue-Medium;
      font-size: 14px;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;

      @media (max-width: 576px) {
        font-size: 12.6px;
      }
    }

    .form-control {
      border: 1px solid #b0b0b0;
    }

    .notice {
      font: normal normal 300 12px Helvetica-Neue;
      letter-spacing: 0.24px;
      color: #000000;

      @media (max-width: 576px) {
        font-size: 0.7rem;
        color: #555555;
      }
    }

    border-bottom: 0.75px solid #70707062;

    .color_image {
      width: 32px !important;
      height: 32px !important;
      border-radius: 50% !important;
      border: 0.5px solid #747474 !important;
      // border: 0.5px solid #ff7600;
      // margin: 3px !important;
      padding: 2px !important;

      @media (max-width: 576px) {
        width: 38px !important;
        height: 38px !important;
        // padding: 3px;
      }
    }

    .active {
      .color_image {
        border: 2px solid #ff7600 !important;
      }
    }
  }

  .price {
    p {
      font: normal normal normal 15px Helvetica-Neue-Medium;
      letter-spacing: 0px;
      color: #8b8885;

      @media (max-width: 576px) {
        font-size: 0.9rem;
      }

      .offer_pct {
        color: #ed0303;
      }

      .spacing {
        margin-right: 5px;
      }
    }

    .price-amount {
      span {
        font: normal normal normal 26px/32px Helvetica-Neue-Bold;
        letter-spacing: 0px;
        color: #ff7600;
        opacity: 1;

        // padding: 0 5px;
        @media (max-width: 576px) {
          font-size: 17.78px;
        }
      }
    }
  }

  .quantity {

    // p {
    //   text-align: left;
    //   font: normal normal normal 12px/22px Helvetica-Neue-Medium;
    //   letter-spacing: 0px;
    //   color: #000000;
    // }
    .quantitycount {

      button,
      input {
        border: 1px solid #cacbd0;
        font: normal normal normal 1.15rem/19px Helvetica-Neue-Medium;
        font-size: 14px;
        letter-spacing: 0px;
        color: #282c3f;
        text-transform: uppercase;
        background-color: transparent;
        text-align: center;
        border-radius: 0;
      }

      h3 {
        border: 1px solid #cacbd0;
      }
    }
  }

  .addtocart {
    font: normal normal normal 15px/35px Helvetica-Neue-Medium;
    letter-spacing: 0px;
    color: #ffffff !important;
    width: 100%;
    background-color: #2b2b2b !important;
  }

  .advanceoption {
    text-align: right;

    a {
      font: normal normal normal 15px/24px Helvetica-Neue-Medium;
      letter-spacing: 0.45px;
      color: #000000;
      margin: 10px;
      padding-bottom: 5px;
      border-bottom: 2px solid #ffc700;

      @media (max-width: 576px) {
        width: 100%;
        display: block;
        text-align: center;
        border: 1px solid #ffc700;
        padding: 10px 3px;
        margin: 5px 0;
      }
    }
  }

  #thumbs {
    // .left {
    //   @media screen and (min-width:992px) {
    //     max-width: 75%;
    //   }
    // }
    // .right {
    //   @media screen and (min-width:992px) {
    //     max-width: 25%;
    //   }
    // }
  }

  .choose_fabric .more_color {
    margin-top: 5px;
    cursor: pointer;
    font-size: 0.95rem !important;
    line-height: 2.2;
  }

  .delivery_inst {
    font: normal normal normal 15px/35px Helvetica-Neue-Medium;
    letter-spacing: 0px;
    width: 100%;
    border: 1px solid #ffc700;
    border-radius: 15px;
    text-align: center;
    padding: 4px;

    @media (max-width: 576px) {
      border: none;
    }

    span {
      .btn {
        font: normal normal normal 15px/35px Helvetica-Neue-Medium;
        font-size: 14px;
        padding: 0px;
      }
    }
  }

  #popover-contained {
    h2.popover-header {
      font-size: 16px;
    }

    .popover-body p {
      font-size: 14px;
    }
  }

  .with_opacity {
    opacity: 0.4;
  }

  .t_colorb2 {
    color: #b2b2b2;
  }

  .motr_error {
    color: #d10a0a;
    border-color: red;
  }

  .recommended_mgs {
    line-height: normal !important;
    font-size: 14px !important;
    // font-weight: 100;
    // text-align: justify;
    font-family: Helvetica-Neue;
    color: #f7634d !important;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

#tooltip-top {
  opacity: 1;
  border: 1px solid #000;
  border-radius: 12px;
  font-size: 15px;
  background: #fff;

  .tooltip-inner {
    background: #fff;
    color: #000;
    padding: 6px;
    max-width: 220px;
  }
}