.B2BRegistration {
  position: relative;
  padding: 7rem 0;

  @media (max-width: 576px) {
    padding: 1rem 0;
  }

  .max-width {
    max-width: 1364px;
  }

  .form-group {
    position: relative;
  }

  .headingsection h1 {
    font: normal normal normal 2.8rem/49px Helvetica-Neue-Medium;
    font-size: 39.2px;

    @media (max-width: 768px) {
      font-size: 27.86px;
      // font-size: 27.86px;
      line-height: normal;
    }

    letter-spacing: 0px;
    color: #000000;
    border-left: 2px solid #ffd64f;
    padding-left: 32px;
    margin-bottom: 30px;
  }

  .form-section {
    position: relative;

    .form-group {
      margin: 33px 0;
    }

    .form-control {
      font: normal normal normal 1.1rem/18px Helvetica-Neue-Medium;
      background: transparent;
      letter-spacing: 0.3px;
      color: #000;
      border-radius: 0;
      border: 0;
      border-bottom: solid 0.8px #707070;
    }
  }

  .B2BRegistration_tab {
    background-color: #000000;

    @media (max-width: 576px) {
      background-color: transparent;
    }

    .nav-item {
      width: 100%;

      .nav-link {
        font: normal normal normal 1.1rem/18px Helvetica-Neue-Medium;
        letter-spacing: 0.15px;
        color: #888888;
        opacity: 0.86;
        background-color: transparent;
        white-space: nowrap;

        &.active {
          letter-spacing: 0.15px;
          color: #ffffff;
          background-color: transparent;
          border-bottom: 2px solid #fdcc5d;
          opacity: 1;
          border-radius: 0;
        }

        @media (max-width: 576px) {
          border-bottom: 1px solid #888;
          border-radius: 0;
          margin: 0;
          padding: 10px 1rem;
          color: #000000;

          &.active {
            border-radius: 0;
            color: #000000;
            padding: 10px 1rem;
          }
        }
      }
    }
  }

  .label2 {
    font: normal normal normal 1rem/16px Helvetica-Neue;
    letter-spacing: 0.28px;
    color: #676767;
  }

  .Google_map {
    height: 350px;
  }

  .google_map {
    height: 350px;
  }
}

@media (max-width: 767px) {
  .B2BRegistration .headingsection h1 {
    font: normal normal bold 1.5rem Helvetica-Neue;
  }
}