$light-gray: #ffffff;
$gray: #ffffff;
$slate: #ffffff;
$turquoise: #f5f5f5;

.sedar-btn {
  margin-top: 20px;
}

.BrandPage {
  position: relative;
  padding: 25px 0;
  .max-width {
    max-width: 1340px;
  }

  .brandgrid {
    text-align: center;
    padding: 30%;
    height: 100%;
    @media screen and (max-width: 767px) {
      padding: 0;
    }
    .lazy-load-image-loaded {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover {
      //  background-color: #3861a0;
    }
    .imsg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .collapsecontent {
    position: relative;
    .heading {
      h3 {
        font: normal normal normal 20px/25px Helvetica-Neue-Bold;
        letter-spacing: 0px;
        color: #000000;
        padding-left: 18px;
        border-left: 2px solid #fdcc5d;
      }
    }
    .textcontent {
      padding-left: 20px;
      p {
        font: normal normal 300 1.27rem/31px Helvetica-Neue-Light;
        font-size: 17.78px;
        letter-spacing: 0.54px;
        color: #000000;
      }
    }

    .closebutton {
      cursor: pointer;
      position: absolute;
      right: 5%;
      top: 5%;
      color: #000;
      font-size: 1.5rem;
    }
  }

  .cards {
    flex-flow: row wrap;
    .expend {
      max-height: 1000px;
      min-height: 200px;
      overflow: visible;
      margin-top: 30px;
      opacity: 1;
      transition: all 0.2s ease-in-out;
      background-color: #333a45;
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
     // text-transform: uppercase;
      color: #eceef1;
      font-size: 1.5em;
    }
  }

  //Grid Container
  .cards {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    @media screen and (max-width: 767px) {
      padding: 0;
    }
  }

  //Cards
  .card {
    border: none;
    margin: 15px;
    width: calc((100% / 3) - 30px);
    //transition: all 0.2s ease-in-out;

    //media queries for stacking cards
    @media screen and (max-width: 991px) {
      width: calc((100% / 2) - 30px);
    }

    @media screen and (max-width: 767px) {
      width: calc((100% / 3) - 10px);
      margin: 5px;
    }
    @media screen and (max-width: 360px) {
      width: calc((100% / 2) - 10px);
      margin: 5px;
    }

    &:hover {
      .card__inner {
        // background-color: #3861a0;

        // transform: scale(1.05);
      }
    }

    &__inner {
      width: 100%;
      padding: 30px;
      @media screen and (max-width: 767px) {
        padding: 5px;
        background-color: transparent;
      }
      position: relative;
      cursor: pointer;

      background-color: #f5f5f5;
      color: $light-gray;
      font-size: 1.5em;
     // text-transform: uppercase;
      text-align: center;

      // transition: all 0.2s ease-in-out;

      &:after {
        //  transition: all 0.3s ease-in-out;
      }

      .fa {
        width: 100%;
        margin-top: 0.25em;
      }
    }

    //Expander
    &__expander {
      transition: all 0.2s ease-in-out;
      background-color: $slate;
      width: 100%;
      position: relative;

     // display: flex;
      justify-content: center;
      align-items: center;

     // text-transform: uppercase;
      color: $light-gray;
      font-size: 1.5em;

      .fa {
        font-size: 0.75em;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }
      }
    }

    &.is-collapsed {
      .card__inner {
        &:after {
          // content: "";
          opacity: 0;
        }
      }
      .card__expander {
        max-height: 0;
        min-height: 0;
        overflow: hidden;
        margin-top: 0;
        opacity: 0;
      }
    }

    &.is-expanded {
      .card__inner {
        background-color: #3861a0;

        &:after {
          //content: "";
          opacity: 1;
          display: block;
          height: 0;
          width: 0;
          position: absolute;
          bottom: -30px;
          left: calc(50% - 15px);
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 15px solid #333a45;
        }

        //folder open icon
        .fa:before {
          content: "\f115";
        }
        img {
          filter: invert(100);
        }
      }

      .card__expander {
        max-height: 1000px;
        min-height: 200px;
        overflow: visible;
        margin-top: 30px;
        opacity: 1;
        z-index: 1;
        @media (max-width: 768px) {
          display: none;
        }
      }

      &:hover {
        .card__inner {
          transform: scale(1);
        }
      }
    }

    &.is-inactive {
      .card__inner {
        pointer-events: none;
        opacity: 0.5;
      }

      &:hover {
        .card__inner {
          background-color: #f5f5f5;
          transform: scale(1);
        }
      }
    }
  }

  //Expander Widths

  //when 3 cards in a row
  @media screen and (min-width: 992px) {
    .card:nth-of-type(3n + 2) .card__expander {
      margin-left: calc(-100% - 30px);
    }
    .card:nth-of-type(3n + 3) .card__expander {
      margin-left: calc(-200% - 60px);
    }
    .card:nth-of-type(3n + 4) {
      clear: left;
    }
    .card__expander {
      width: calc(300% + 60px);
    }
  }

  //when 2 cards in a row
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .card:nth-of-type(2n + 2) .card__expander {
      margin-left: calc(-100% - 30px);
    }
    .card:nth-of-type(2n + 3) {
      clear: left;
    }
    .card__expander {
      width: calc(200% + 30px);
    }
  }
}
