.CartListMenu {
  width: 100%;
  height: 100vh;
  background-color: #000000c0;
  position: absolute;
  // top: 100%;
  left: 0;
  z-index: 1000;
  .Cartmenu_sec {
    position: relative;
  }
  .Cartmenu_content {
    background-color: #ffffff;
    max-width: 430px;
    position: absolute;
    right: 15px;
    padding: 5px;
    width: 100%;
    .card {
      border: 0;
      .card-header {
        background-color: transparent;
        padding: 15px 0;
        margin: 0 15px;
        p {
          font: normal normal normal 1.15rem/18px Helvetica-Neue-Bold;
          letter-spacing: 0px;
          color: #ff9d00;
        }
      }
      .media-body {  
        margin-left: 15px;
        h6 {
          font-size: 14px;
          span {
            font-size: 12px;
            opacity: 0.85;
          }
        }
        p {
          font: normal normal normal 1rem/15px Helvetica-Neue-Bold;
          letter-spacing: 0px;
          color: #000000;
          padding: 6px 0;
        }
        h3 {
          color: #9a5c8e;
          font: normal normal 300 1rem/19px Helvetica-Neue;
        }
      }
      .border-button {
        position: relative;
        width: 100%;
        margin-top: 5px;

        a {
          border: 1px solid #cacbd0;
          display: block;
          text-align: center;
          padding: 9px 0px;
          border-radius: 0px;
        }
        span {
          font: normal normal normal 15px/18px Helvetica-Neue-Bold;
          letter-spacing: 0px;
          color: #000;
        }
      }
      .color-button {
        position: relative;
        width: 100%;
        margin-top: 5px;

        a {
          background-color: #000000;
          display: block;
          text-align: center;
          padding: 10px 0px;
          border-radius: 0px;
        }
        span {
          font: normal normal normal 15px/18px Helvetica-Neue-Bold;
          letter-spacing: 0px;
          color: #ffff;
        }
      }
    }
    .cartItemList {
      overflow: auto;
      max-height: 25vh;
      .item_image {
        max-width: 110px;
      }
    }
  }
  .close-button {
    position: absolute;
    top: 5%;
    right: 0%;
    z-index: 11;
    cursor: pointer;
    button {
      color: #000;
      font-size: 20px;
      background-color: transparent;
      img {
        max-width: 12px;
      }

      &:not(:disabled):not(.disabled):active:focus {
        box-shadow: none;
        border: none;
      }
      &:focus:active {
        background-color: transparent;
      }
    }
  }
}
