.Categorylist {
  .max-content {
    max-width: 1366px;
  }

  h1 {
    letter-spacing: 1.28px;
    border-left: 2px solid #ffd64f;
    padding: 5px 0 5px 22px;
  }
  p {
    padding-top: 1.8rem;
  }

  .sec_img {
    position: absolute;
    bottom: 2rem;
    right: 7.5rem;
  }
}
.Industries {
  padding-top: 7rem;
  h3 {
    border-left: 2px solid #ffd64f;
    padding: 5px 0 5px 22px;
  }
  .Category-grid {
    padding-top: 4rem;
    h6 {
      line-height: 2;
    }
  }
  .Industries-link a {
    color: #000;
    border-bottom: 2px solid #ffd64f;
  }
}
.Project {
  .max-content {
    max-width: 1394px;
  }

  p {
    font: normal normal 300 1.27rem/31px Helvetica-Neue-Light;
    font-size: 17.78px;
    letter-spacing: 0.54px;
    color: #000000;
    padding: 25px;
    width: 90%;
  }
  h1 {
    letter-spacing: 1.28px;
    font: normal normal 2.8rem/49px Helvetica-Neue-Medium;
    border-left: 2px solid #ffd64f;
    padding: 5px 0 5px 22px;
  }
  .Categorylist-text {
    padding-top: 170px;
    a {
      font: normal normal normal 1.1rem Helvetica-Neue-Medium;
      letter-spacing: 0.45px;
      color: #434343;
    }
  }
  .Contact-link {
    a {
      color: #000;
      border-bottom: 2px solid #ffd64f;
      font-size: 15.4px;
      line-height: 2;
    }
  }
  .Contact-link.col-sm-12 {
    padding-left: 25px;
  }
}

@media (max-width: 992px) {
  .Project p {
    //padding: 25px 0 0 0;
    width: 100%;
  }
  .Project h1 {
    font: normal normal 30px/49px Helvetica-Neue-Medium;
  }
  .Project .Categorylist-text {
    padding-top: 0px;
  }
}
