// .CustomizeStep

.selected-icon {
  position: absolute;
  top: 2%;
  right: -1%;
}

label {
  span {
    font: normal normal 300 15px Helvetica-Neue-Medium;
    letter-spacing: 0.26px;
    color: #000000;
    padding-bottom: 5px;
  }
}

.form-check.form-check-inline {
  label {
    font: normal normal 300 12px/16px Helvetica-Neue-Medium;
    letter-spacing: 0.26px;
    color: #000000;
  }
}

.InfoPopup {
  .swiper-pagination-bullet {
    background-color: #ffffff;
    opacity: 1;
    border-radius: 50%;
    margin: 1rem !important;

    &.swiper-pagination-bullet-active {
      opacity: 0.6;
    }
  }

  .close-button {
    position: absolute;
    top: 4%;
    right: 3%;
    z-index: 11;

    button {
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      background-color: transparent;

      &:not(:disabled):not(.disabled):active:focus {
        box-shadow: none;
        border: none;
        background-color: transparent;
      }

      &:focus:active {
        background-color: transparent;
      }
    }
  }

  h5 {
    font: normal normal normal 1rem/15px Helvetica-Neue-Bold;
    font-size: 17.5px;
    letter-spacing: 0px;
    color: #000000;
  }

  p {
    font: normal normal 300 1rem/22px Helvetica-Neue-Light;
    font-size: 14px;
    letter-spacing: 0.42px;
    color: #000000;
  }

  .modal-content {
    border-radius: 0.3rem;
  }

  .modal-dialog {
    max-width: 403px;
  }
}

.bottomlabelptext {
  font: normal normal 500 13px/16px Helvetica-Neue;
  letter-spacing: 0.26px;
  color: #000000;
}

// FilterOption
.FilterOption {
  position: relative;

  .dropdown {
    margin: 3px 0;

    .dropdown-toggle {
      border: 1px solid #dcdcdc;
      border-radius: 1px;
      width: 100%;

      &::after {
        position: absolute;
        right: 10%;
        top: 48%;
      }

      font: normal normal 500 12px/16px Helvetica-Neue;
      letter-spacing: 0.24px;
      color: #000000;
      padding: 12px;
    }

    .dropdown-menu {
      border: 1px solid #ffba1f;
      font-size: 14px;
      border-radius: 1px;
      max-height: 30vh;
      width: 100%;
      overflow-y: auto;
    }

    .dropdown-item {
      background-color: #fff;
    }

    span {
      .form-check {
        font-size: 14px;
      }
    }
  }
}

// FilterOption
// ColorSelection
.StyleOfProduct {
  .swiper-wrapper {}
}

.ColorSelection {
  position: relative;

  .color-box {
    position: relative;
    cursor: pointer;

    p {
      font: normal normal normal 12px/1rem Helvetica-Neue;
      letter-spacing: 0.24px;
      color: #000000;
      margin: 7px 0;
    }

    .color-img {
      position: relative;
    }

    &.active {
      .selected-icon {
        opacity: 1;
      }
    }
  }

  .selected-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    right: auto;
  }
}

// ColorSelection
// MaterialSelection

.MaterialSelection {
  position: relative;

  .materialselectlist {
    max-height: 65vh;
    height: 100%;

    @media screen and (max-width: 767px) {
      max-height: 60vh;
    }
  }

  .material-grid {
    padding: 10px 8px;
    position: relative;
    cursor: pointer;
    position: relative;
    margin-top: 5px;

    .selectmaterial {
      display: none;
      opacity: 0;
    }

    .material-grid-content {
      position: relative;

      .materialimage {
        position: relative;

        .item-code {
          position: absolute;
          background-color: #fff;
          bottom: 0;
          padding: 0 5px;
          margin: 5px;
          line-height: 1;

          span {
            font: normal normal 500 12px/10px Helvetica-Neue;
            letter-spacing: 0px;
            color: #000000;
          }
        }
      }

      img {
        width: 100%;
        max-height: 100px;
      }
    }

    .materialcontent {
      position: relative;
      padding: 5px 0;

      .color_tooltip {
        display: flex;
        justify-content: space-between;

        .color_tooltip_list {
          li {
            margin-right: 5px;
          }

          img {
            border-radius: 50%;
            height: 22px;
            width: 22px;
          }

          .active {
            img {
              border: 2px solid #ef9c00;
            }
          }
        }

        .more_color {
          cursor: pointer;
          display: flex;
          margin-top: 5px;
          height: auto;
          width: 22px;
          font: normal normal normal 9px/18px Helvetica-Neue;
          letter-spacing: 0px;
          color: #3c3c3c;
          border: 1px solid #7070705d;
          border-radius: 50%;
          transition: opacity 0.15s linear;
          justify-content: center;
        }
      }
    }

    .selectmaterial {
      text-align: center;
      position: absolute;
      bottom: 0;
      width: 100%;

      .item-code {
        text-align: left;
        background-color: #fff;
        padding: 0 5px;
        margin: 5px;
        line-height: 1;
        width: 50%;

        span {
          font: normal normal 500 12px/10px Helvetica-Neue;
          letter-spacing: 0px;
          color: #000000;
        }
      }

      button {
        width: 100%;
        background-color: #ef9c00;
        font: normal normal 500 12px/18px Helvetica-Neue;
        letter-spacing: 0px;
        color: #ffffff;
        margin: 5px 0;
      }

      a {
        text-decoration: underline;
        font: normal normal normal 12px/18px Helvetica-Neue;
        letter-spacing: 0px;
        color: #868686;
      }
    }

    &:hover,
    &.active {
      box-shadow: 0px 3px 6px #00000012;
      border: 1px solid #ef9c00;
      border-radius: 2px;

      .selectmaterial {
        display: block;
        opacity: 1;

        &:hover,
        &.active {
          transition: all 0.5s ease-in-out;
        }
      }

      .materialcontent {
        padding: 5px 0;
      }
    }
  }
}

.tooltip_color_popup {
  cursor: pointer;
  transition: opacity 0.15s linear;

  &.show {
    opacity: 1;
    z-index: 1;
  }

  .tooltip-inner {
    background-color: #fff;
    color: #000;

    ul {
      flex-wrap: wrap;

      li {
        padding: 5px;
      }
    }

    img {
      max-width: 36px;
    }

    .active {
      img {
        border: 2px solid #ef9c00;
      }
    }
  }
}

//MaterialSelection

// SizeAndMount

.SizeAndMount {
  position: relative;
  cursor: pointer;

  .quantity {
    border-bottom: 1px dashed #707070;

    .row {
      align-items: center;
    }

    p {
      font: normal normal 500 1rem/17px Helvetica-Neue;
      letter-spacing: 0.28px;
      color: #000000;
    }

    select {
      border: 1px solid #707070a2;
      font: normal normal normal 1rem/16px Helvetica-Neue;
      letter-spacing: 0.28px;
      color: #000000;
      border-radius: 0;
    }
  }

  .measurement,
  .WindowDepth {
    .row {
      align-items: center;
    }

    .form-label {
      font: normal normal normal 1rem/17px Helvetica-Neue-Medium;
      font-size: 14px;
      letter-spacing: 0.28px;

      span {
        font: normal normal 300 1rem/17px Helvetica-Neue-Light;
        font-size: 14px;
        letter-spacing: 0.28px;
      }
    }

    input {
      border: 1px solid #707070a2;
      font: normal normal normal 1rem/16px Helvetica-Neue;
      font-size: 14px;
      letter-spacing: 0.28px;
      color: #000000;
    }
  }

  .bothmount {
    margin: 10px 0;
    background-color: #f7f7f7;
    padding: 10px;
    text-align: center;

    p {
      font: normal normal 500 1rem/20px Helvetica-Neue;
      letter-spacing: 0px;
      color: #484444;
    }

    span {
      font: normal normal normal 12px/20px Helvetica-Neue-Light;
      letter-spacing: 0px;
      color: #484444;
    }

    a {
      color: #484444;
    }
  }

  .mountgrid {
    text-align: center;
    position: relative;

    p {
      font: normal normal 500 13px/16px Helvetica-Neue;
      letter-spacing: 0.26px;
      color: #000000;
    }

    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 20px 0px;

    img {
      padding: 0px 10px;
    }

    @media screen and (max-width: 767px) {
      padding: 15px 6px;
    }

    &.active {
      background-color: #f8f8f8;
    }
  }

  // &.addonoptions img{
  //   max-height: 130px;
  //   max-width: 200px;
  // }
}

//SizeAndMount

// ControlType
.ControlType {
  position: relative;

  .mountgrid {
    text-align: center;
    position: relative;

    p {
      font: normal normal 500 13px/16px Helvetica-Neue;
      letter-spacing: 0.26px;
      color: #000000;
      padding: 10px 0;
    }

    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 20px 0px;

    img {
      padding: 0px 10px;
    }

    @media screen and (max-width: 767px) {
      padding: 15px 6px;
    }

    &.active {
      background-color: #f8f8f8;
    }
  }
}

//ControlType
//SummaryDelivery

.SummaryDelivery {
  position: relative;

  .headingcolor {
    h5 {
      color: #ef9c00;
    }
  }

  .summarydetail {
    padding-bottom: 20px;

    table {
      width: 100%;

      th {
        font: normal normal normal 1rem/35px Helvetica-Neue-Medium;
        font-size: 14px;
        letter-spacing: 0px;
        color: #000000;
      }

      td {
        font: normal normal normal 1rem/25px Helvetica-Neue;
        font-size: 14px;
        letter-spacing: 0px;
        color: #000000;
      }

      .edit {
        text-decoration: underline;
        font: normal normal normal 12px/25px Helvetica-Neue;
        font-size: 12px;
        letter-spacing: 0px;
        color: #000000;
        opacity: 0.48;
        cursor: pointer;
      }
    }

    border-bottom: 1px dashed #707070;
  }

  .deliveryoption {
    .deliveryoptionbox {
      border: 1px dashed #7e818c;
      text-align: center;
      min-height: 68px;

      .labeltext {
        display: inline-block;
        vertical-align: middle;

        h5 {
          font: normal normal normal 1rem/16px Helvetica-Neue;
          letter-spacing: 0px;
          color: #1a1a1a;
        }

        p {
          font: normal normal normal 12px/18px Helvetica-Neue;
          letter-spacing: 0px;
          color: #000000;
          opacity: 0.46;
        }

        a {
          text-decoration: underline;
          font: normal normal normal 12px/18px Helvetica-Neue;
          letter-spacing: 0px;
          color: #7b7b7b;
        }

        .dropdown-menu {
          label {
            font: normal normal normal 1rem/18px Helvetica-Neue;
            letter-spacing: 0px;
            color: #2f3337;
          }

          .form-check {
            padding-top: 6px;
            padding-bottom: 6px;
          }
        }
      }

      &.active {
        border-color: #ef9c00;
        background-color: #fef8e8;
      }
    }

    .condition {
      background: #fef8e8 0% 0% no-repeat padding-box;
      border: 1px solid #fbe8b8;

      p {
        font: normal normal 300 1rem/21px Helvetica-Neue;
        letter-spacing: 0.42px;
        color: #be7318;
      }

      a {
        text-decoration: underline;
        font: normal normal normal 1rem/22px Helvetica-Neue;
        letter-spacing: 0px;
        color: #ff7f00;
      }
    }
  }
}

.ItemLabel {
  .row {
    align-items: center;
  }

  .form-label {
    font: normal normal normal 1rem/17px Helvetica-Neue-Medium;
    font-size: 14px;
    letter-spacing: 0.28px;

    span {
      font: normal normal 300 1rem/17px Helvetica-Neue-Light;
      letter-spacing: 0.28px;
    }
  }

  input,
  select {
    border: 1px solid #707070a2;
    font: normal normal normal 1rem/16px Helvetica-Neue;
    font-size: 14px;
    letter-spacing: 0.28px;
    color: #000000;
    border-radius: 0;
  }

  .SizeAndMount {
    height: 130px;

    .mountgrid {
      height: 80px;
      justify-content: center;
      align-items: center;
      display: f;
    }
  }
}

.img_desc {
  padding-left: 25px;
  margin-top: -5px;
}

//SummaryDelivery
.Instructioncol {
  width: 100%;

  @media (min-width: 1400px) {
    width: 50%;
  }
}