.Faqpage {
  position: relative;
  .maxwidth {
    max-width: 1402px;
    margin: 0 auto;
  }
  .heading-section {
    h1 {
      font: normal normal normal 2.8rem/49px Helvetica-Neue-Medium;
      font-size: 39.2px;
      letter-spacing: 0px;
      color: #000000;
      margin: 60px 0 25px;
      @media (max-width: 768px) {
        font-size: 27.86px;
        line-height: normal;
      }
    }
  }
  .faq-content {
    position: relative;
    margin: 25px 0 50px;
    .tab-content {
      margin-top: -30px;
    }
    .faq-tab-body {
      position: relative;
      background: #f8f8f8 0% 0% no-repeat padding-box;
      border: 1px solid #eaeaec;
      border-radius: 10px;
      .nav-item {
        &:last-child {
          a {
            border-bottom: 0;
          }
        }
      }
      .nav-pills .nav-link {
        font: normal normal 600 15px Helvetica-Neue;
        letter-spacing: 0.52px;
        color: #000000;
        position: relative;
        padding: 21px 20px;
        border-bottom: 1px solid #dcdee5;
        border-radius: 0;
      }

      .nav-pills .nav-link.active,
      .nav-pills .show > .nav-link {
        background-color: inherit;
        border-bottom: 2px solid #fdcc5d;
        border-radius: 0;

        &::before {
          content: "";
          position: absolute;

          height: 7px;
          width: 7px;
          top: 45%;
          left: 0;
          background: #fdcc5d;
          border-radius: 50%;
        }
      }
      .nav-pills {
        padding: 25px 25px 22px 25px;
      }
    }
    .faq-collapse {
      position: relative;
      .card {
        border: 0;
        border-bottom: 1px solid #dcdee5;
        .faq-question-text {
          font: normal normal 600 1.27rem/23px Helvetica-Neue;
          font-size: 17.5px;
          letter-spacing: 0.54px;
          color: #000000;
          padding-left: 20px;
        }
        .iconcollapse {
          position: relative;
          font-size: 30px;
          font-weight: 700;
        }
        .card-body {
          padding-left: 65px;
          padding-right: 0;
          padding-top: 0;
          .body-content {
            font-family: Helvetica-Neue-Light;
            border-left: 2px solid #fdcc5d;
            padding-left: 30px;
            p {
              font: normal normal 300 1.15rem/32px Helvetica-Neue-Light;
              letter-spacing: 0.48px;
              color: #000000;
            }
          }
        }
      }
      .card-header {
        border: 0;
        background: transparent;
        padding: 33px 1.25rem;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 576px) {
  .Faqpage .faq-content .faq-collapse .card .faq-question-text {
    position: absolute;
  }
}
