.FranchiseTestimonialTab {
  .max-content {
    max-width: 1406px;
  }
  .TabVideo {
    position: relative;
    margin-top: 40px;
    .overly {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      background-color: #000000;
      opacity: 0.45;
    }
  }
  .playicon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 74px;
    width: 74px;
  }
  .TabVideoText {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    padding: 25px 60px;
    @media (max-width: 1366px) {
      padding: 1rem;
    }
    p {
      font: normal normal normal 1.15rem/19px Helvetica-Neue-Medium;
    }
  }
  .videoimage {
    width: 100%;
  }
  .nav-pills {
    .nav-link {
      font: normal normal normal 1.3rem/25px Helvetica-Neue-Medium;
      font-size: 18.2px;
      letter-spacing: 0px;
      color: #000000;
      opacity: 0.44;
    }
    .nav-link.active {
      font: normal normal normal 1.3rem/25px Helvetica-Neue-Medium;
      font-size: 18.2px;
      letter-spacing: 0px;
      color: #ef9c00;
      background: #fff;
      border-bottom: 2px solid #fdcc5d;
      opacity: 1;
      border-radius: 0;
    }
  }
  .loadmore {
    position: relative;
    text-align: center;
    padding: 120px 0 160px;
    button {
      background: #fdcc5d;
      color: #fff;
      font: normal normal normal 1.1rem Helvetica-Neue-Medium;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
      padding: 25px 60px;
    }
  }
  .secondtab {
    padding: 25px;
    .card {
      margin: 20px 0;
      img {
        max-height: 216px;
        // max-width: 422px;
        object-fit: cover;
      }
      p {
        padding: 5px 15px;
        font: normal normal 300 1.2rem/26px Helvetica-Neue-Light;
        letter-spacing: 0.34px;
        color: #000000;
        background-position-x: 0;
        background-repeat: no-repeat;
      }
      h5 {
        padding: 0 20px;
        font: normal normal normal 1.15rem/19px Helvetica-Neue-Medium;
        letter-spacing: 0px;
        color: #15181a;
        opacity: 1;
        margin-bottom: 7px;
      }
      .card-body {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .intro {
      h6 {
        font: normal normal normal 1.15rem/19px Helvetica-Neue-Medium;
        letter-spacing: 0px;
        color: #15181a;
        opacity: 1;
        margin-bottom: 7px;
      }
      p {
        font: normal normal normal 1rem/16px Helvetica-Neue-Light;
        letter-spacing: 0px;
        color: #15181a;
        opacity: 0.6;
      }
    }
    .textwithImage {
      position: relative;
    }
    .testimonial_desc {
      min-height: 200px;
      cursor: pointer;
    }
  }
}
.secondtabModal {
  p {
    padding: 5px 15px;
    font: normal normal 300 1.2rem/26px Helvetica-Neue-Light;
    letter-spacing: 0.34px;
    color: #000000;
    background-position-x: 0;
    background-repeat: no-repeat;
  }
  .modal-header {
    border: none;
    button {
      opacity: 0.8;
    }
  }
}
.tabVideo-modal {
  &.modal-80w {
    width: 80%;
    max-width: none !important;
    margin: 0 auto;
    .modal-content {
      background-color: #000;
      border: 0;
      border-radius: 0;
    }
    .close-button {
      position: fixed;
      right: 2%;
      top: 2%;
      color: #fff;
      opacity: 1;
      font-size: 28px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .tabVideo-modal {
    &.modal-80w {
      width: 100%;
      max-width: none !important;
    }
  }
  .FranchiseTestimonialTab .nav-pills .nav-link {
    font: normal normal normal 1.1rem/25px Helvetica-Neue-Medium;
    border-bottom: 1px solid #888;
    border-radius: 0;
    &.active {
      font: normal normal normal 1.1rem/25px Helvetica-Neue-Medium;
      border-radius: 0;
    }
  }
  .FranchiseTestimonial .col-second h1 {
    font: normal normal normal 25px/35px Helvetica-Neue-Medium;
  }
}
