.Franchisevision {
  position: relative;

  .max-content {
    max-width: 1366px;
    margin: 0 auto;
  }
  .sedar-btn {
    margin-top: 20px;
  }
  .col-first-0 {
    h1 {
      border-left: 2px solid #ffd64f;
      padding-left: 8%;
      font-size: 39.2px;

      font: normal normal normal 2.46rem/51px Helvetica-Neue-Medium;
      @media (max-width: 768px) {
        font-size: 27.86px;
        line-height: normal;
      }
    }
    p {
      padding: 4rem 0 0 4rem;
      max-width: 400px;
      font: normal normal normal 22px/33px Helvetica-Neue-Light;
      font-size: 17.78px;
      letter-spacing: 0px;
      color: #ef9c00;
      @media (max-width: 768px) {
        padding: 5px 0px;
      }
    }
  }
  .col-first-1 {
    @media (max-width: 768px) {
      padding: 5px 15px;
    }
    p {
      font: normal normal 300 1.1rem/31px Helvetica-Neue-Light;
      font-size: 17.78px;
      letter-spacing: 0.54px;
      color: #000000;
    }
  }
}
