.Franchise {
  padding: 2rem 15px;
  background-color: rgb(245, 236, 224);

  @media (max-width: 768px) {
    padding: 1rem 5px;
  }

  // .FranchiseCollection-text.col-md-6.col-sm-12 {
  //  padding: 100px 0 0 200px;
  // }
  .FranchiseCollection-text {
    padding: 170px 120px;

    @media (max-width: 768px) {
      padding: 1rem;
    }
  }

  h3,
  h6 {
    letter-spacing: 1.28px;
    color: #989898;
    font-size: 14px !important;
    text-transform: uppercase;
    padding: 5px 0 5px 22px;
    font-size: 1rem;
  }

  h1,
  h2,
  h4,
  h5 {
    padding-top: 24px;
    padding-left: 20px;
    align-items: center;
    font: normal normal 2.4rem Helvetica-Neue-Medium;
    font-size: 39.2px;

    @media (max-width: 768px) {
      padding: 1rem 0;
      font-size: 2rem;
      line-height: normal;
      font-size: 28px;
    }
  }

  p {
    font-family: Helvetica-Neue-Light;
    letter-spacing: 0.54px;
    color: #000;
    padding: 2rem 0;
    padding-left: 20px;

    @media (max-width: 768px) {
      padding: 1rem 0;
    }
  }

  .shop-link {
    @media (min-width: 768px) {
      padding-left: 20px;
    }

    padding-top: 10px;

    a {
      border-bottom: 2px solid #fdcc5d;

      letter-spacing: 0.45px;
      color: #434343;
      font-size: 15px;
      font-family: "Helvetica-Neue-Medium";
    }
  }

  .sec_img {
    position: absolute;
    top: 19rem;
    right: 7.5rem;
  }

  .FranchiseCollection-text {
    padding: 1rem;
  }
}

.hexagon-container {
  width: 45px;
  height: 45px;
  position: relative;
  flex-shrink: 0;
}

.hexagon-border {
  width: 100%;
  height: 100%;
  background: #ffe082;
  clip-path: polygon(25% 0%,
      75% 0%,
      100% 50%,
      75% 100%,
      25% 100%,
      0% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon {
  width: 90%;
  height: 90%;
  background: white;
  clip-path: polygon(25% 0%,
      75% 0%,
      100% 50%,
      75% 100%,
      25% 100%,
      0% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon span {
  color: #f4b400;
  font-weight: bold;
  font-size: 14px;
}

.step-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.franchise-step-description {
  font-size: 13px;
  color: #6c757d;
  line-height: 1.4;
}

@media (max-width: 767px) {
  .Franchise p {
    width: 100%;
  }

  .FranchiseCollection-text {
    padding: 15px !important;
  }
}

@media (max-width: 992px) {
  .Franchise p {
    width: 100%;
  }

  .Franchise .FranchiseCollection-text {
    padding: 0px;
  }

  .FranchiseCollection-text.col-md-6.col-sm-12 {
    padding: 0px;
  }

  .Franchise .FranchiseCollection-text {
    padding: 0px;
  }
}