.FranchiseeContactForm {
  position: relative;
  .ContactForm {
    position: relative;
   
  }
  .max-width {
    max-width: 1364px;
  }
  .headingsection {
    position: relative;
    margin-bottom: 40px;
    h1 {
      font: normal normal normal 2.5rem/49px Helvetica-Neue-Medium;
      letter-spacing: 0px;
      color: #000000;
      @media (max-width: 768px) {
        font-size: 27.86px;
        line-height: normal;
       }
    }
    label,p {
      font: normal normal normal 1rem/28px Helvetica-Neue;
      letter-spacing: 0.48px;
      color: #000000;
      opacity: 0.56;
    }
  }


  .form-group {
    position: relative;
    margin: 33px 0;
  }
  .form-control {
    font: normal normal normal 1.1rem/18px Helvetica-Neue-Medium;
    letter-spacing: 0.3px;
    color: #000;
  }
  .time-limit-heading {
    font: normal normal normal 1.1rem/18px Helvetica-Neue-Medium;
    letter-spacing: 0.3px;
    color: #000000;
  }
  .labelstyleradio {
    label {
      font: normal normal normal 15px/17px Helvetica-Neue;
      letter-spacing: 0.3px;
      color: #000;
    }
  }
  .labelstylecheckbox {
    // .form-check-input {
    //    margin: .35rem 0.5rem !important;
    // }
    label {
      font: normal normal normal 1rem/16px Helvetica-Neue;
      letter-spacing: 0.28px;
      color: #676767;
    }
  }

  // fgloating

}
