.FranchiseTestimonial {
  padding: 80px 0;
  @media (max-width: 768px) {
    padding: 1rem 0;
  }
  .max-content {
    max-width: 1406px;
  }
  .col-first {
    .TabVideo {
      position: relative;

      background-repeat: no-repeat;
      background-size: 100%;
      width: 85%;
      @media (max-width: 992px) {
        width: 100%;
        height: auto;
      }
    }
    .playicon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 74px;
      width: 74px;
    }
    .TabVideoText {
      position: absolute;
      bottom: 0;
      right: 0;
      background: #fff;
      padding: 25px 60px;
      @media (max-width: 992px) {
        padding: 1rem;
      }
      p {
        font: normal normal normal 1.15rem/19px Helvetica-Neue-Medium;
      }
    }
    .videoimage {
      width: 441px;
      height: 334px;
      padding-top: 40px;
    }
  }
  .col-second {
    padding-top: 5.5rem;
    @media (max-width: 768px) {
      padding-top: 1rem;
    }
    h6 {
      font: normal normal normal 1.15rem/19px Helvetica-Neue-Medium;
      letter-spacing: 1.28px;
      color: #989898;
      text-transform: uppercase;
    }
    h1 {
      padding-top: 24px;
      padding-left: 20px;
      align-items: center;

      font: normal normal normal 2.8rem/49px Helvetica-Neue-Medium;
      font-size: 39.2px;
      letter-spacing: 0px;
      color: #000000;
      @media (max-width: 768px) {
        font-size: 27.86px;
        line-height: normal;
      }
    }
    p {
      max-width: 570px;
      padding-left: 20px;
      padding-top: 50px;

      font: normal normal 300 1.27rem/31px Helvetica-Neue-Light;
      font-size: 17.78px;
      letter-spacing: 0.54px;
      color: #000000;
    }

    .shop-link {
      @media (min-width: 768px) {
        padding-left: 40px;
      }
      padding-top: 25px;

      a {
        border-bottom: 2px solid #fdcc5d;
        font: normal normal normal 1.1rem/18px Helvetica-Neue-Medium;
        letter-spacing: 0.45px;
        color: #434343;
        padding-bottom: 4px;
      }
    }
  }
  @media (max-width: 576px) {
    .rowFranchiseTestimonial {
      flex-direction: column-reverse;
    }
  }
}
