.FreeConsultationBookForm {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;

  // padding-top: 15rem;
  // @media (max-width: 1400px) {
  //   padding-top: 10rem;
  // }
  // @media (max-width: 576px) {
  //   padding-top: 1.5rem;
  // }
  .headingsection {
    position: relative;
    margin-bottom: 45px;

    @media (max-width: 768px) {
      margin-bottom: 15px;
    }

    h1 {
      font: normal normal normal 2.8rem/49px Helvetica-Neue-Medium;
      font-size: 39.2px;
      letter-spacing: 0px;
      color: #000000;

      @media (max-width: 768px) {
        font-size: 27.86px;
        line-height: normal;
      }
    }

    h2 {
      font: normal normal normal 2.8rem/49px Helvetica-Neue-Medium;
      font-size: 39.2px;
      letter-spacing: 0px;
      color: #000000;

      @media (max-width: 768px) {
        font-size: 27.86px;
        line-height: normal;
      }
    }

    label {
      font: normal normal normal 1.15rem/18px Helvetica-Neue-Light;
      letter-spacing: 0.48px;
      color: #000000;
    }
  }

  .form-section {
    position: relative;

    .form-group {
      margin: 33px 0;
      position: relative;
    }

    .consultation-type {
      position: relative;
      margin-bottom: 15px;

      .type-heading {
        font: normal normal normal 1.1rem/18px Helvetica-Neue-Medium;
        font-size: 15.4px;
        letter-spacing: 0.3px;
        color: #000000;
        padding: 5px 0;
      }

      .card {
        max-width: 340px;
        margin: 0 auto;
        border: 1px solid #575757;
        border-radius: 0;
      }

      .card-body {
        padding: 20px 20px;
      }

      .card-title {
        font: normal normal normal 1rem/17px Helvetica-Neue-Medium;
        letter-spacing: 0.28px;
        color: #000000;
        text-transform: uppercase;
        padding-top: 34px;
      }

      .card-text {
        font: normal normal normal 1rem/23px Helvetica-Neue;
        letter-spacing: 0.42px;
        color: #000000;
      }
    }

    .form-control {
      font: normal normal normal 1.1rem/18px Helvetica-Neue-Medium;
      font-size: 15.4px;
      letter-spacing: 0.3px;
      background: transparent !important;
      color: #000;
      border-radius: 0;
      border: 0;
      border-bottom: solid 0.8px #707070;
    }

    .labelstylecheckbox {
      label {
        font: normal normal normal 1rem/16px Helvetica-Neue;
        letter-spacing: 0.28px;
        color: #676767;
      }
    }
  }

  .consultation-type {
    .form-select {
      border-radius: 0;
      border-color: #ffba1f;
      font-size: 17.78px;
      color: #ffba1f;
    }
  }
  .react-datepicker-popper {
    z-index: 4;
  }
  .react-datepicker-wrapper {
    width: 100%;
  }
  #dropdown-autoclose-outside.btn.show {
    background: white;
  }
  .city_with_state {
    margin-top: -8px;
  }
}
.city_area_label {
  font: normal normal normal 15px/18px Helvetica-Neue;
  color: rgba(var(--bs-body-color-rgb), 0.65);
}
.css-13cymwt-control {
  background: transparent !important;
}
.upholsteryForm_date {
  .react-datepicker-wrapper {
    width: 100%;
  }
  .react-datepicker-popper {
    z-index: 9;
  }
  input {
    border: none;
    border-bottom: 1px solid;
  }
}
