.FreeSample {
  position: relative;
  max-width: 1364px;
  margin: 0 auto;
  .FreeSampleIntro {
    padding: 40px 0;
    .intro_section_img {
      justify-content: center;
      img {
        max-width: 60px;
      }
    }
    h5 {
      font: normal normal 600 1.27rem/23px Helvetica-Neue;
      font-size: 17.5px;
      letter-spacing: 0px;
      color: #000000;
      margin-bottom: 20px;
    }
    .intro_section_text {
      p {
        font: normal normal normal 1rem/22px Helvetica-Neue;
        letter-spacing: 0.42px;
        color: #000000;
        opacity: 0.56;
        max-width: 261px;
      }
    }
    .border-divider {
      border: 1px solid #707070;
      opacity: 0.29;
      width: 1px;
      height: 100%;
    }
  }
  .choose_product_heading {
    h2 {
      font: normal normal bold 20px/24px Helvetica-Neue;
      span {
        color: #ef9c00;
      }
    }
  }
  .choose_product_img {
    position: relative;
    .middle {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 0%;
      left: 0%;
      right: 0;
      bottom: 0;

      text-align: center;
      background-color: #000000c7;
      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        button {
          color: #ffffff;
          //  padding: 10px 30px;

          font: normal normal normal 1.1rem Helvetica-Neue-Medium;
        }
        h6 {
          font: normal normal normal 1.27rem/23px Helvetica-Neue-Medium;
        }
        p {
          font: normal normal normal 1rem/22px Helvetica-Neue;
          padding: 10px 0;
        }
      }
    }
    &:hover {
      .middle {
        opacity: 1;
      }
    }
  }
  .choose_product_text {
    font: normal normal 600 1.27rem/23px Helvetica-Neue;
    font-size: 17.5px;
    padding: 27px 0 0 0;
    h5 {
      font-size: 17.5px;
    }
  }
  .choose_product_desc {
    padding: 5px 0 27px;
  }
  .order_sample {
    .choose_product_desc {
      padding: 40px 0;
    }
    .selected_product {
      position: relative;
      text-align: center;
      h5 {
        font: normal normal bold 20px Helvetica-Neue;
        color: #ef9c00;
      }
      p {
        font: normal normal normal 1rem/16px Helvetica-Neue;
      }
    }
    .sample_filter {
      .dropdown {
        margin: 3px 0;
        .dropdown-toggle {
          border: 1px solid #dcdcdc;
          border-radius: 1px;
          width: 100%;

          &::after {
            position: absolute;
            right: 10%;
            top: 48%;
          }
          font: normal normal 500 12px/16px Helvetica-Neue;
          letter-spacing: 0.24px;
          color: #000000;
          padding: 12px;
        }
        .dropdown-menu {
          width: 100%;
          border-radius: 1px;
        }
        .dropdown-item {
          background-color: #fff;
        }
      }
      position: relative;
      text-align: right;
      width: 188px;

      // float: right;
      .form-group {
        margin-bottom: 0;
      }
      .form-control {
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        font: normal normal 600 1rem/94px Helvetica-Neue;
        letter-spacing: 0px;
        color: #2f3337;
        width: 100%;
        height: 50px;
        padding: 9px 40px;
      }
    }

    .sample_content {
      padding: 20px 0;
      .color_tooltip {
        li {
          padding: 3px;
          img {
            border-radius: 50%;
            max-width: 27px;
            height: 100%;
          }
        }
        .opentooltip {
          font: normal normal 600 12px/31px Helvetica-Neue;
          color: #868686;
          cursor: pointer;
        }
      }
      .color_tooltip_list,
      .more_color {
        cursor: pointer;
      }

      .Sample_name {
        position: relative;
        padding: 27px 0;
        h5 {
          font: normal normal 600 18px Helvetica-Neue;
          letter-spacing: 0px;
          color: #000000;
        }
        p {
          font: normal normal 600 1rem Helvetica-Neue;
          letter-spacing: 0px;
          color: #4a4a4a;
        }
      }

      .order_sample_button {
        button {
          border: 1px solid #919191;
          font: normal normal bold 15px/31px Helvetica-Neue;
          letter-spacing: 0px;
          color: #000000;
          padding: 9px 40px;
          &:hover {
            background-color: #f2f2f2;
          }
        }
      }
    }
  }
}
.tooltip_color_popup {
  cursor: pointer;
  &.show {
    opacity: 1;
    z-index: 1;
  }
  .tooltip-inner {
    background-color: #fff;
    color: #000;
    ul {
      flex-wrap: wrap;
      li {
        padding: 5px;
      }
    }

    img {
      max-width: 36px;
    }
  }
}

@media (max-width: 576px) {
  .FreeSample .order_sample .sample_content .Sample_name h5 {
    font: normal normal 600 15px Helvetica-Neue;
  }
  .FreeSample .order_sample .sample_content .order_sample_button button {
    padding: 9px 30px;
  }

  .FreeSample .choose_product_text {
    font: normal normal 600 1rem/16px Helvetica-Neue;
  }
  .FreeSample .choose_product_img.ChooseProduct .middle .text {
    width: 80%;
    overflow: hidden;
    h6 {
      display: none;
    }
    p {
      display: none;
    }
  }
  .FreeSample .order_sample .selected_product {
  }
  .FreeSample .choose_product_heading h2 {
    font: normal normal normal 1.15rem/18px Helvetica-Neue-Medium;
  }
}
