.max_content {
  max-width: 1665px;
  margin: 0 auto;
}
.header_mid {
  .max_content {
    max-width: 1665px;
    margin: 0 auto;
  }

  .headerDisplay {
    box-shadow: 0px -6px 10px rgba(49, 49, 49, 0.75);
  }

  .header {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #000;

    a {
      color: #000;
      width: max-content !important;
    }

    .logo {
      min-width: 14%;

      .logoimage {
        max-width: 121px;
      }
    }

    .header-extra-content {
      // min-width: 82%;
      display: flex;
      justify-content: space-between;

      // @media (min-width: 1200px) {
      //   min-width: 86%;
      // }
    }

    .searchbar {
      padding-left: 9px;
      padding-right: 6px;

      // @media (max-width:1200px) {
      flex: 1;
      // }

      .searchicon {
        width: 21px;
        height: 21px;
        margin-top: 5px;
      }

      .searchbar_form {
        //  @media (max-width:1200px) {
        width: 75%;
        max-width: 500px;
        //  }

        border-bottom: 1px solid #dfdfdf;
        outline: none;
        font-size: 18px;
        display: flex;
        align-items: center;
        padding-bottom: 0px;
        cursor: pointer;

        .rbt-input-main.form-control.rbt-input {
          padding: 10px;
          font-size: 14px;
        }
      }

      .searchicon_inp {
        border: none;
        // padding: 0 0 0px 18px;
        outline: none;
        //opacity: 0.5;
        font-size: 1rem;
        color: rgb(139, 139, 139);
        font-weight: 300;

        color: #000000;
        letter-spacing: 0.28px;
        font-family: Helvetica-Neue-Light;
        width: 100%;

        .rbt-menu {
          padding: 5px;

          .dropdown-item {
            padding: 5px 10px;
          }
        }
      }

      #SearchProduct {
        overflow: hidden auto !important;
        font: normal normal normal 0.8rem Helvetica-Neue-Light;
        width: 300px !important;

        a {
          display: block;
          padding: 0;
          font: normal normal normal 0.8rem Helvetica-Neue-Light;
        }

        .custom-link {
          display: block;
          padding: 5px 8px;

          span {
            display: block;
          }
        }
      }
    }

    .quickmenu {
      margin-top: 2px;
      font-family: Helvetica-Neue;
      :focus {
        color: #ef9c00;
      }

      .line-devider {
        margin: 0 48px;
      }

      ul {
        li {
          &:nth-child(1) {
            margin-top: 5px;
            img {
              // margin: 0px 9px 8px 0;
              padding-right: 15px;
            }
          }

          &:nth-child(2) {
            // padding-right: 42px;
            // padding-left: 44px;
            margin-top: 5px;

            img {
              padding-right: 22px;
              margin-top: -4px;
            }
          }

          &:nth-child(3) {
            margin-top: 5px;

            img {
              padding-right: 18px;
              margin-top: -4px;
            }
          }
          &:nth-child(4) {
            margin-top: 5px;

            img {
              padding-right: 18px;
              margin-top: -4px;
            }
          }
          @media (max-width: 1600px) {
            &:nth-child(2) {
              padding-right: 0;
              padding-left: 0;

              img {
                padding-right: 15px;
              }
            }

            &:nth-child(3) {
              img {
                padding-right: 15px;
              }
            }

            &::after {
              padding-left: 3rem;
            }
          }

          @media (max-width: 1366px) {
            &::after {
              padding-left: 1.5rem;
            }
          }
        }

        .quickmenu-list-Item {
          &::after {
            content: '|';
            color: #0000004f;
            padding: 0 1.5rem;
            position: relative;
            // left: 20px;
          }

          &:last-child {
            &::after {
              content: '';
            }
          }

          @media (max-width: 1366px) {
            &::after {
              padding-left: 1rem;
            }
          }
          @media (max-width: 1240px) {
            &::after {
              padding-left: 0.5rem;
            }
          }
        }
      }
    }

    .usermenu {
      margin-top: 8px;
      position: relative;

      font: normal normal normal 15px/17px Helvetica-Neue;
      letter-spacing: 0px;
      color: #323232;

      .login {
        padding-left: 5px;
        cursor: pointer;
        width: max-content;
      }

      // .wishlist {
      //   padding-right: 40px;
      //   padding-left: 52px;
      // }
      ul {
        justify-content: space-between;

        .loginimg,
        img {
          margin-bottom: 4.5px;
        }
      }

      .cart {
        span {
          padding-right: 0;

          &:focus {
            color: #ef9c00;
          }
        }

        .carttext {
          position: relative;
          cursor: pointer;
          width: max-content;

          .badge {
            position: absolute;
            border-radius: 10px;
            top: -8px;
            color: #ffff;
            font-weight: 100;
            padding: 3px 6px;
            background-color: #eaaf60;
            right: -10px;
          }

          span {
            padding-right: 0;

            &:focus {
              color: #ef9c00;
            }
          }
        }
      }

      .user-utility-menu {
        .dropdown-toggle {
          &::after {
            content: none;
          }
        }

        .dropdown-menu {
          border: 1px solid #dadcdf;
          border-top: none;
          box-shadow: 0px 1px 2px #0000000f;
          transform: translate(0px, 20px) !important;
          border-radius: 2px;
          margin-top: 15px;
          padding-top: 0;
          padding-bottom: 0;
          z-index: 1111;

          span {
            padding: 0.4rem 1.2rem;
            font-family: 'Helvetica-Neue';
          }

          // a,
          // div {
          //   padding-right: 60px;

          //   img {
          //     padding: 10px 18px;
          //   }
          // }

          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5), 0 5px 5px rgba(0, 0, 0, 0.5);
        }
      }
    }

    .rbt-input-main.form-control {
      border: none;
    }
    .img_with_text {
      padding: 0 5px;
    }
  }

  /* 
  ##Device = Laptops, Desktops
 
*/

  /* 
  ##Device = Tablets, Ipads (landscape)
 
*/

  @media (max-width: 767.98px) {
    .header .header-extra-content {
      min-width: 12%;
      display: flex;
      justify-content: flex-end;
    }

    .header {
      // box-shadow: 0 12px 12px #e8e8e8;

      padding: 18px 10px 16px 20px;
      margin-top: 0px;
      align-items: center;

      .moible_menu_toggle {
        .navbar-toggler {
          border: none;
          box-shadow: none;
          background-color: transparent;
          padding: 0;
        }
      }

      .logo {
        width: 50%;
        height: auto;
        // margin-left: 20px;
        .logoimage {
          margin-right: 20px;
          margin-left: 20px;
          margin-top: 0;
          max-width: 96px;
        }
      }

      .usermenu {
        width: 25%;
        margin-top: 0;

        ul {
          justify-content: flex-end;
          float: left;
          li {
            padding: 0 10px !important;
          }
        }
      }

      a {
        color: #000000db;
      }
    }
  }

  .moiblequickmenu {
    padding: 0;

    ul {
      box-shadow: inset 0 3px 13px -10px #b4b4b4;
      background-color: #fafafa;
      justify-content: center;
      padding: 11px 0;
      border-radius: 0;

      li {
        padding: 0 10px;

        a {
          border-radius: 4px !important;
          background-color: #ffffff;
          border: solid 1px #ffffff;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
          font-size: 0.9rem;
          color: #000000;
          padding: 0.6rem 1rem;
        }
        img {
          height: 22px;
        }
      }
    }
  }

  @media (max-width: 400px) {
    .moiblequickmenu {
      ul {
        li {
          padding: 0 8px;

          a {
            padding: 10px 8px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .mobile_css {
    padding: 0px !important;
  }
}
