.HomeAutomationBasicContent {
  position: relative;

  .BasicContent {
    position: relative;
    padding: 96px 0;
    background-repeat: no-repeat;
    background-position: 185% 100%;
    background-size: 64%;
    @media (max-width: 768px) {
      padding: 3rem 0;
    }
  }
  .max-content {
    max-width: 1364px;
    margin: 0 auto;
  }
  .sedar-btn {
    margin-top: 20px;
  }
  .col-first {
    .sedar-btn {
      margin-top: 50px;
      margin-left: 30px;
      @media (max-width: 768px) {
        margin: 3rem 0;
      }
    }
    h1,h2 {
      border-left: 2px solid #fdcc5d;
      font: normal normal normal 2.8rem/51px Helvetica-Neue-Medium;
      font-size: 39.2px;
      letter-spacing: 0px;
      color: #000000;
      padding-left: 30px;
      margin-bottom: 56px;
      max-width: 376px;
      @media (max-width: 768px) {
        font-size: 27.86px;
        line-height: normal;
        margin-bottom: 3rem;
      }
    }
    p {
      padding-left: 30px;
      font: normal normal 300 1.27rem/31px Helvetica-Neue-Light;
      font-size: 17.78px;
      letter-spacing: 0.54px;
      color: #000000;
      @media (max-width: 768px) {
        padding-left: 0;
      }
    }
  }
  .col-second {
    text-align: right;
    .contentlist {
      position: relative;
      .img-group {
        position: relative;
        .center-img {
          position: absolute;
          top: 30%;
          left: 15%;
        }
      }
    }
  }
}
.max-content {
  max-width: 1364px;
  margin: 0 auto;
}
.our-connect-partner {
  position: relative;
  text-align: center;
  padding: 1rem 0;
}
