.HomeAutomationProductPopup {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 111;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
  .close-button {
    position: absolute;
    top: 0%;
    right: 5%;
    z-index: 11;
    button {
      color: #000;
      font-size: 20px;
      background-color: transparent;
      img{
          max-width: 12px;
      }

      &:not(:disabled):not(.disabled):active:focus {
        box-shadow: none;
        border: none;
      }
      &:focus:active {
        background-color: transparent;
      }
    }
  }
  .modal-container {
    position: relative;
    max-width: 905px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    
    padding: 30px 0;
    .modal-body {
      position: relative;
      background: #fff;
      padding: 0;
      border-radius: 5px;
    }
    .image-section {
      position: relative;
      width: 43%;
    }
    .content-section {
        position: relative;
        width: 56%;
      }
    .content-box{
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .content {
        max-width: 422px;
        margin: 0 auto;
        position: relative;
        padding: 20px;
        
      h3 {
        font: normal normal 600 22px/27px Helvetica-Neue;
        letter-spacing: 0px;
        color: #1b1d1d;
        margin-bottom: 15px;
      }
      p{
        font: normal normal 300 1.15rem/30px Helvetica-Neue-Light;
        letter-spacing: 0px;
        color: #5A5A5A;
        
      }
    }
  }
}


@media (min-width: 1640px) and (max-width: 1920px) {
    /* CSS */
  }
  
  @media (min-width: 1200px) and (max-width: 1640px) {
    
  }
  /* 
    ##Device = Laptops, Desktops
   
  */
  @media (min-width: 991px) and (max-width: 1200px) {
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
   
  */
  @media (min-width: 767px) and (max-width: 991px) {
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    
  */
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
   
  */
  @media (min-width: 576px) and (max-width: 767px) {
    .image-section ,.content-section {
        width: 100% !important;
    }
    .modal-container{
        display: block !important;
    }
  }
  @media (max-width: 576px) {
    .image-section ,.content-section {
        width: 100% !important;
    }
    .modal-container{
        display: block !important;
    }
  }
  
  @media (max-width: 400px) {
    
  }
  