.HomeTopCategory {
  position: relative;
  padding-left: 15px;

  .heading-section {
    position: relative;

    h3 {
      font: normal normal normal 1.15rem/19px Helvetica-Neue-Medium;
      letter-spacing: 0px;
      color: #000000;
    }
  }

  .HomeTopCategory-slider {
    position: relative;

    .swiper-initialized {
      padding-top: 20px;
      padding-bottom: 2rem;
    }

    .swiper-pagination-bullet {
      width: 17px;
      height: 5px;
      border-radius: 3px;
      background-color: #d0cfd4;

      &.swiper-pagination-bullet-active {
        background-color: #ef9c00;
      }

      margin-bottom: -15px;
    }

    .swiper-slide {
      text-align: center;

      p {
        font: normal normal normal 1rem/16px Helvetica-Neue;
        font-size: 14px;
        letter-spacing: 0.26px;
        color: #000000;
        padding: 10px 0;
      }
    }
  }
}