.HomeAutomationVoiceControlSlider {
  position: relative;

  .swiper-pagination-bullets {
    bottom: 10% !important;

    .swiper-pagination-bullet {
      width: auto;
      height: auto;
      position: relative;
      background-color: transparent;
      margin: 0 40px !important;

      .bullet-text {
        font: normal normal normal 1.15rem Helvetica-Neue-Medium;
        letter-spacing: 0.32px;
        color: #b4b4b4;
        padding-right: 1rem;
        &::after {
          width: 100%;
          height: 3px;
          content: "";
          display: block;
          position: absolute;
          background-color: #858585;
          bottom: 0;
          left: 0;
          // transition: opacity 200ms;
        }
      }
      .bullet-border {
        width: 100%;
        height: 3px;
        content: "";
        display: block;
        position: absolute;
        background-color: #858585;
        bottom: 0;
        left: 0;
        z-index: -1;
      }
    }
    .swiper-pagination-bullet-active {
      background-color: transparent !important;
      .bullet-text {
        font: normal normal bold 1.15rem Helvetica-Neue;
        letter-spacing: 0.32px;
        color: #ffffff;
        &::after {
          background-color: #fff;
          animation: slide-progress 2s cubic-bezier(0.3, 0, 0.3, 1) forwards;
          animation: progres 3.5s infinite linear;
        }
        &.swiper-paused {
          &::after {
            animation-play-state: paused;
          }
        }

        @keyframes progres {
          0% {
            width: 0%;
          }
          25% {
            width: 50%;
          }
          50% {
            width: 75%;
          }
          75% {
            width: 85%;
          }
          100% {
            width: 100%;
          }
        }
      }
    }
  }

  .overly {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #000000;
  }

  .swiper-pagination-bullet-active {
    // background: rgba(#000, 0.2);
    // background: rgba(#000, 0.4);

    // &::after {
    //   background-color: #fff;
    //   animation: slide-progress 2s cubic-bezier(0.3, 0, 0.3, 1) forwards;
    //   animation: progres 4s infinite linear;
    //   .swiper-paused & {
    //     // opacity: 0;
    //     animation-play-state: paused;
    //   }
    // }
    @keyframes progres {
      0% {
        width: 0%;
      }
      25% {
        width: 50%;
      }
      50% {
        width: 75%;
      }
      75% {
        width: 85%;
      }
      100% {
        width: 100%;
      }
    }
  }
  .center-content {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    text-align: center;
    h1 {
      font: normal normal 300 2.8rem/49px Helvetica-Neue;
      letter-spacing: 0px;
      color: #ffffff;
      span {
        font: normal normal normal 2.8rem/49px Helvetica-Neue-Medium;
        font-size: 39.2px;
        @media (max-width: 768px) {
          font-size: 27.86px;
          line-height: normal;
        }
        letter-spacing: 0px;
        color: #ffffff;
      }
    }
    p {
      font: normal normal 300 1.27rem/34px Helvetica-Neue-Light;
      letter-spacing: 0.54px;
      color: #ffffff;
      margin: 21px;
      margin-bottom: 125px;
    }
    .link-style {
      font: normal normal normal 1.1rem/18px Helvetica-Neue-Medium;
      letter-spacing: 0.45px;
      color: #ffffff;
      border-bottom: 2px solid #fdcc5d;
      padding-bottom: 10px;
      background-color: transparent;
      &.btn:focus {
        box-shadow: none;
      }
      &.btn:active {
        background-color: transparent;
        border-color: #fdcc5d;
      }
    }
  }
  #thumbs {
    position: absolute;
    bottom: 10%;
    width: 100%;
    .swiper-initialized {
      padding: 1rem;
    }
    .swiper-wrapper {
      justify-content: center;
      @media (max-width: 1200px) {
        justify-content: start;
      }
    }

    .bullet-text {
      font: normal normal normal 1.15rem Helvetica-Neue-Medium;
      letter-spacing: 0.32px;
      color: #b4b4b4;
      &::after {
        width: 100%;
        height: 3px;
        content: "";
        display: block;
        position: absolute;
        background-color: #858585;
        bottom: 0;
        left: 0;
        // transition: opacity 200ms;
      }
    }
    .bullet-border {
      width: 100%;
      height: 3px;
      content: "";
      display: block;
      position: absolute;
      background-color: #858585;
      bottom: 0;
      left: 0;
      z-index: -1;
    }

    .swiper-slide-thumb-active {
      background-color: transparent !important;
      .bullet-text {
        font: normal normal normal 1.15rem Helvetica-Neue-Bold;
        letter-spacing: 0.32px;
        color: #ffffff;
        &::after {
          background-color: #fff;
          animation: slide-progress 2s cubic-bezier(0.3, 0, 0.3, 1) forwards;
          animation: progres 3.5s infinite linear;
        }
        &.swiper-paused {
          &::after {
            animation-play-state: paused;
          }
        }

        @keyframes progres {
          0% {
            width: 0%;
          }
          25% {
            width: 50%;
          }
          50% {
            width: 75%;
          }
          75% {
            width: 85%;
          }
          100% {
            width: 100%;
          }
        }
      }
    }
  }
}
