.HomePageOurPresence {
  position: relative;
  background-color: #f5f5f5;
  padding: 50px 0;
  .maxwidth {
    max-width: 1390px;
  }
  .heading-section {
    position: relative;
    text-align: center;
    padding: 20px;
    padding-top: 60px;
    span {
      font: normal normal normal 1.15rem/19px Helvetica-Neue-Medium;
      letter-spacing: 0px;
      color: #626262;
      text-transform: uppercase;
    }
    h1 {
      font: normal normal normal 2.8rem/49px Helvetica-Neue-Medium;
      font-size: 39.2px;
      letter-spacing: 0px;
      color: #000000;
      margin-top: 22px;
      margin-bottom: 22px;
      @media (max-width: 768px) {
        font-size: 27.86px;
        line-height: normal;
      }
    }
  }
  .country-list {
    position: relative;
    padding: 25px 65px;
    background-color: #fff;
    margin: 0 auto;
    max-width: 312px;
    .Our-Offices {
      padding: 25px 15px;
      h1, h2 {
        font: normal normal normal 22px/27px Helvetica-Neue-Bold;
        letter-spacing: 0px;
        color: #000000;
        // opacity: 0.5;
        @media (max-width: 768px) {
          font-size: 27.86px;
          line-height: normal;
        }
      }
    }
  }
  .question-text {
    font: normal normal normal 1.27rem/23px Helvetica-Neue-Medium;
    letter-spacing: 0px;
    color: #000000;
  }

  .border_arrow {
    border: solid #000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2.5px;
    margin-left: 6px;
  }
  .country-offices-list {
    li {
      padding: 10px 0;
    }
    li,
    a {
      font: normal normal normal 1rem/19px Helvetica-Neue-Medium;
      letter-spacing: 0px;
      color: #000000;
      opacity: 0.58;
      cursor: pointer;

      &.active {
        font: normal normal normal 1.1rem/19px Helvetica-Neue-Medium;
        letter-spacing: 0px;
        opacity: 0.8;
        border-bottom: 1px solid #fdcc5d;
        margin-bottom: 2px;
      }
    }
  }
  .country-collapse {
    .card {
      border: none;
      padding: 8px 0;
    }
    .card-header {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    .card-body {
      padding: 0 1.25rem;
    }
  }
  .map-section {
    padding-bottom: 50px;
  }
  #marker-example {
    height: 500px;
    width: 100%;
    @media (min-width: 767px) {
      height: 100%;
    }
  }
}

@media (max-width: 767px) {
  .country {
    order: 1;
  }
  .HomePageOurPresence .heading-section h1 {
    font: normal normal 600 2rem/49px Helvetica-Neue-Medium;
  }
}
