.HomeAutomationSedarStrength {
  position: relative;
  padding-top: 30px;
  .maxwidth {
    max-width: 1364px;
    position: relative;
    margin: 0 auto;
  }
  .heading-section {
    position: relative;
    text-align: center;
    h1 {
      font: normal normal normal 2.8rem/49px Helvetica-Neue-Medium;
      font-size: 39.2px;
      letter-spacing: 0px;
      color: #1b1d1d;
      margin-bottom: 34px;
      @media (max-width: 768px) {
        font-size: 27.86px;
        line-height: normal;
      }
    }
    p {
      text-align: center;
      font: normal normal 300 1.11rem/31px Helvetica-Neue-Light;
      letter-spacing: 0.54px;
      color: #000000;
      max-width: 727px;
      margin: 0 auto;
    }
  }
  .strength-content {
    position: relative;
    margin: 77px 0;
  }
  .strength-col {
    position: relative;
    width: 20%;
    text-align: center;
    display: inline-block;
    @media (max-width: 1100px) {
      width: 33%;
      flex: 0 0 auto;
    }
    .strength-col-content {
      position: relative;

      .img-div {
        max-width: 126px;
        width: 100%;
        margin: 0 auto;
        .border-box {
          position: relative;
          border: 2px solid #d9d9d9;
          border-radius: 50%;
          height: 7vw;
          width: 7vw;
          max-width: 126px;
          max-height: 126px;
          display: table;
          .center-img {
            position: relative;
            display: table-cell;
            vertical-align: middle;
            img {
              max-width: 53px;
            }
          }
        }
      }
    }
    .label-section {
      max-width: 150px;
      margin: 37px auto;
      h3 {
        font: normal normal normal 19px/27px Helvetica-Neue-Medium;
        letter-spacing: 0.38px;
        color: #000000;
      }
    }
  }
  .contact-btn {
    position: relative;
    text-align: center;
    .sedar-btn {
      margin-top: 20px;
    }
  }
}
@media (max-width: 992px) {
  .HomeAutomationSedarStrength
    .strength-col
    .strength-col-content
    .img-div
    .border-box {
    height: 9vw;
    width: 9vw;
  }
  .HomeAutomationSedarStrength
    .strength-col
    .strength-col-content
    .img-div
    .border-box
    .center-img
    img {
    max-width: 40px;
  }
  .HomeAutomationSedarStrength .strength-col .strength-col-content .img-div {
    max-width: 80px;
  }
}

@media (max-width: 767px) {
  .HomeAutomationSedarStrength .heading-section h1 {
    font: normal normal normal 30px/32px Helvetica-Neue-Medium;
  }
  .HomeAutomationSedarStrength .strength-col {
    .label-section h3 {
      font: normal normal normal 1rem/16px Helvetica-Neue-Medium;
    }
    .img-div {
      padding-left: 8px;
      max-width: 125px;
    }
    .border-box {
      height: 15vw !important;
      width: 15vw !important;
    }
    img {
      width: 30px;
    }
  }
}
