#InquiryForm {
  padding-top: 10rem;
  @media (max-width: 768px) {
    padding-top: 3rem;
  }
}
.InquiryForm {
  position: relative;
  background-color: #f5f5f5;

  .heading-section {
    position: relative;
    padding: 40px 0;
    h1 {
      font: normal normal normal 2.8rem/49px Helvetica-Neue-Medium;
      font-size: 39.2px;
      letter-spacing: 0px;
      color: #000000;
      margin-bottom: 1rem;
      @media (max-width: 768px) {
        font-size: 27.86px;
        line-height: normal;
      }
    }
    p {
      font: normal normal normal 1rem/16px Helvetica-Neue;
      letter-spacing: 0.42px;
      color: #000000;
      opacity: 0.56;
    }
  }
  .InquiryForm-form {
    position: relative;
    padding: 40px 0;
    .form-group {
      position: relative;
      margin: 33px 0;
    }
    .form-control {
      font: normal normal normal 1.1rem/18px Helvetica-Neue-Medium;
      letter-spacing: 0.3px;
      color: #000;
    }
  }
  .labelstylecheckbox {
    // .form-check-input {
    //    margin: .35rem 0.5rem !important;
    // }
    label {
      font: normal normal normal 1rem/16px Helvetica-Neue;
      letter-spacing: 0.28px;
      color: #676767;
    }
  }
}
