// ***************New landing page CSS****************
.landing_page {
  .full_banner {
    width: 100%;
    height: 100%;
  }

  .arabic {
    font-family: Helvetica-Neue-Light-Arabic;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .welcome_message {
    position: absolute;
    width: 30%;
    left: 0;
    top: 0;
    height: 100%;
    background: #000000a3;
    z-index: 1;
    padding: 35px 10px 5px 35px;
    .log_section {
      min-height: 210px;

      .logo {
        img {
          width: 142px;
          height: auto;
        }
      }
    }
    .text_section {
      min-height: 325px;

      .text_mgs {
        color: #fff;
        h1 {
          font-size: 52px;
          text-transform: uppercase;
          font-weight: bold;
        }
        p {
          padding-top: 50px;
          font: normal normal normal 32px Helvetica-Neue-Bold;
        }
      }
    }
    .Footer3 {
      position: absolute;
      width: 284px;
      margin-left: -35px;
      bottom: 10px;
      .contact_social {
        width: 95%;
      }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      width: 40%;
      .Footer3 {
        // position: absolute;
        // width: 100%;
        .contact_social {
          width: 95%;
        }
      }
      .text_section {
        .text_mgs {
          text-align: center;
          h1 {
            font-size: 46px;
          }
        }
      }
      @media (max-height: 768px) {
        .log_section {
          // min-height: 115px;
          .logo {
            img {
              width: 92px;
              height: auto;
            }
          }
        }
        .text_section {
          .text_mgs {
            text-align: center;
            h1 {
              font-size: 32px;
            }
            p {
              padding-top: 20px;
              font-size: 26px;
            }
          }
        }
        .Footer3 {
          bottom: 10px;
        }
      }
    }

    @media (max-width: 600px) {
      width: 100%;
      padding: 15px 10px 5px 20px;

      .log_section {
        min-height: 122px;
        padding-top: 5px;
        .logo {
          img {
            width: 92px;
            height: auto;
          }
        }
      }
      .text_section {
        .text_mgs {
          text-align: center;
          h1 {
            font-size: 32px;
          }
          p {
            padding-top: 4px;
            font-size: 22px;
          }
        }
      }
      .Footer3 {
        position: fixed;
        bottom: 0px;
        background: #000;
        width: 100%;
        margin-left: -32px;
        padding: 0 32px;
        .contact_social {
          width: 99%;
        }
      }
    }
    @media only screen and (min-width: 728px) and (max-width: 932px) and (min-height: 280px) and (max-height: 430px) {
      width: 100%;
      .log_section,
      .text_section,
      .Footer3 {
        display: none;
      }
    }
  }

  .header_info {
    z-index: 2;
    position: fixed;
    right: 0;
    // padding: 10px;
    width: 100%;
    margin: 0;

    .fixed_logo,
    .mobile_fixed_logo {
      display: none;
    }
    .info_ul {
      float: right;
      .tel_email {
        float: left;
        padding: 10px;
        font-size: 14px;
        color: #000;
        a {
          color: #000;
        }
        .img_with_text {
          margin: 5px 10px;
          font-family: Helvetica-Neue;
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
          font-size: 12px;
          color: #fff;
          a {
            color: #fff;
          }
        }
      }
    }
    @media (max-width: 600px) {
      .tel_email_info {
        padding-top: 15px;
      }
      .fixed_logo {
        display: none;
      }
      .info_ul {
        padding-top: 15px;
        padding-right: 0;

        .tel_email {
          padding: 2px 15px;
          min-width: 246px;
          float: right;
          color: #fff;
          a {
            color: #fff;
          }
          div {
            display: block !important;
          }
        }
      }
    }
  }
  .fixed_header {
    background: #000;
    .tel_email_info {
      .info_ul {
        @media (max-width: 600px) {
          padding-top: 1px;
        }
        .tel_email {
          color: #fff;
          a {
            color: #fff;
          }
          :hover {
            color: #fff;
          }
        }
      }
    }
    .fixed_logo {
      display: block;
      padding: 10px;

      @media (max-width: 600px) {
        display: none;
      }
    }
    .mobile_fixed_logo {
      @media (max-width: 600px) {
        display: block;
        padding: 10px;
      }
    }
  }
}
.country_list {
  width: 68%;
  float: right;
  position: absolute;
  bottom: 10%;
  z-index: 1;
  right: 0%;
  .country_icon {
    .country_a {
      width: 31%;
      position: relative;
      float: left;
      background: #fff;
      margin: 5px;
      min-height: 96px;
      .cniso_text {
        font: normal normal bold 18px/22px Helvetica-Neue-Bold;
        color: #484745;
        // p,
        // a {
        //   color: #484745;
        // }
      }
    }
    .hove_img {
      display: none;
    }
    .country_a:hover,
    .active {
      background-color: #fdcc5d;
      //first-child
      p {
        color: #fff;
      }
      .hove_img {
        display: inline;
      }
      .country_icon_img {
        display: none !important;
      }
    }
    .img_text {
      padding-top: 15px;
      .cniso_img {
        text-align: center;
        margin: auto;
        padding-right:0px;
      }
      a:hover {
        // color: #fff;
        color: #484745;
      }
      p:first-of-type {
        font-family: Helvetica-Neue-Light-Arabic;
        padding-bottom: 10px;
      }
      img {
        height: auto;
        min-height: 48px;
        min-width: 46px;
        max-height: 72px;
      }
    }

    .mobile_view {
      display: block;
      position: absolute;
      background: #c4af60;
      padding: 5px;
      margin-top: 8px;
      color: #fff;
      font-size: 12px;
      margin-left: -12px;
      width: 100%;
      min-height: 90px;
      z-index: 1;
      .mobile_text_link {
        padding: 5px;
        a {
          font-size: 14px;
          line-height: 30px;
          font-weight: normal;
          color: #fff;
        }
        a:first-child {
          padding-bottom: 5px;
          color: #fff;
        }
        .arabic {
          font-family: Helvetica-Neue-Light-Arabic;
          font-weight: bold;
        }
        :hover {
          color: #a2a0a0;
          a {
            color: #a2a0a0;
          }
        }
      }
    }
  }
  .country_icon_global {
    padding: 0px 0px 10px 0px;
    margin-left: -15px;
    position: relative;
    .country_a {
      display: block;
      height: 100%;
      background: #b2b2b2;
      margin: 5px;
      .cniso_text {
        font: normal normal bold 19px/22px Helvetica-Neue-Bold;
        color: #fff;
        p,
        a {
          color: #fff;
        }
      }
      .img_text {
        margin: auto;
        height: 100%;
        p:first-of-type {
          font-family: Helvetica-Neue-Light-Arabic;
          padding-bottom: 18px;
        }
        .row {
          margin: auto;
          height: 100%;
          .auto {
            margin: auto;
          }
        }
        img {
          width: 48px;
          height: auto;
        }
        a:hover {
          color: #484745;
        }
      }
      .hove_img {
        display: none;
      }
      :hover {
        background-color: #fdcc5d;
        p {
          color: #fff;
        }
        .hove_img {
          display: block;
        }
        .country_icon_img {
          display: none !important;
        }
      }
    }
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    width: 58%;
    .country_icon {
      .country_a {
        width: 45%;
        margin: 9px;
      }
    }
    .country_icon_global {
      .country_a {
        height: auto;
        top: 35%;
        position: absolute;
        margin: 2px 0px 0px 15px;
        width: 100%;
        // margin-left: 25px;
        // margin-right: 6px;
        .img_text {
          height: 99px !important;
        }
      }
    }

    @media (max-height: 768px) {
      top: 12%;
    }

    @media only screen and (min-width: 728px) and (max-width: 932px) and (min-height: 280px) and (max-height: 430px) {
      width: 100%;
      top: 10%;
      .country_icon {
        margin: auto;
        .country_a {
          width: 31%;
          margin: 5px;
          min-height: 89px;
        }
      }
      .country_icon_global {
        margin: auto;
        text-align: center;
        .country_a {
          width: 50%;
        }
      }
    }
  }

  @media (max-width: 600px) {
    width: 100%;
    padding: 25px 32px;
    bottom: 50px;
    text-align: center;
    .country_icon {
      .country_a {
        width: 46.8%;
        .row > * {
          width: initial;
        }
        .cniso_text {
          width: 58%;
          padding: 5px;
          touch-action: none;
          p {
            font-size: 17px;
          }
        }
      }
    }
    .country_icon_global {
      padding: 5px;
      width: 60%;
      margin: auto;
      .country_a {
        .img_text {
          height: 96px;
          .row > * {
            width: initial;
          }
        }
      }
    }
  }
}
.full_page_slider {
  .AboutUsBanner {
    height: 100%;
    img {
      height: 100%;
    }
  }
  .AboutHomeAutoMationBox {
    .landing_page_about {
      padding-top: 0;
    }
  }
}
