.customize-tooltip {
  box-shadow: 0px 3px 6px #00000040;
  border: 1px solid #b7b7b7;
  opacity: 1;
  background-color: #fff;
  border-radius: 2px;
  text-align: center;

  .tooltip-inner {
    padding: 15px;
    background-color: #fff;
    font: normal normal 300 13px/20px Helvetica-Neue-Light;
    letter-spacing: 0.39px;
    color: #000000;
  }
}

.INSTOCK {
  font-family: 'Helvetica-Neue';
  font-size: 14px;
  margin-top: 10px;

  small {
    font-size: 14px;
    color: #fff;
    background: green;
    padding: 5px;
    display: inline-block;
  }
}

.ONDEMAND {
  font-family: 'Helvetica-Neue';
  margin-top: 10px;

  small {
    font-size: 14px;
    color: #fff;
    background: rgb(75, 75, 75);
    padding: 5px;
    display: inline-block;
  }
}

.EXPRESS {
  font-family: 'Helvetica-Neue';
  margin-top: 10px;

  small {
    font-size: 14px;
    color: #fff;
    background: #e69f23;
    padding: 6px;
    display: inline-block;
  }
}

.MaterialList {
  .recommendedRoll {
    font-size: 14px;
    color: #ff7600;
  }

  // .family_color {
  //   li{
  //     margin-right: 3px;
  //   }

  // }

  .color_image {
    width: 28px !important;
    height: 28px !important;
    border-radius: 50%;
    border: 0.2px solid #747474 !important;
    // border: 0.5px solid #ff7600;
    // margin: 3px;
    padding: 2px !important;

    // margin-bottom: 15px !important;

    @media (max-width: 576px) {
      width: 36px !important;
      height: 36px !important;
      // padding: 3px !important;
    }

    &.active {
      border: 2px solid #ff7600 !important;
    }
  }

  .metarial_list_mob_slider {
    line-height: 0;

    .color_image {
      border: 0.5px solid #00000036 !important;
    }

    .swiper-slide-thumb-active {
      .color_image {
        border: 2px solid #ff7600 !important;
      }
    }
  }

  .wishitem {
    position: absolute;
    right: 0;
    top: 15px;
    z-index: 1;

    img,
    svg {
      margin: 0 15px 0 0;
    }

    @media (max-width: 576px) {
      margin-bottom: 5px;
      display: grid;

      img {
        margin-bottom: 5px;
      }
    }
  }

  .offer {
    position: absolute;
    background-color: #ff603b;
    color: #fff;
    padding: 13px;
    left: 15px;
    top: 15px;
    border-radius: 50%;
    width: 62px;
    font-size: 17px;
    text-align: center;
    line-height: 1;
    height: 62px;
    z-index: 1;
  }

  .materialtopbar {
    justify-content: space-between;

    .grid-border {
      text-align: center;
    }

    background-color: #fff;
    z-index: 111;

    @media screen and (min-width: 769px) {
      position: sticky;
      top: 186px;
    }

    // @media screen and (min-width:1601px) {
    //   position: sticky;
    //   top: 187px;
    // }
  }

  .sedar-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      margin: 0 5px;
    }
  }

  position: relative;

  .breadcrumb {
    font: normal normal normal 1rem/34px Helvetica-Neue;
    letter-spacing: 0.42px;
    color: #656565;
    opacity: 1;
    background: #fff;

    a {
      color: #656565;
    }
  }

  .category_slug {
    .category_slug_toggle {
      border: 1px solid #dadcdf;
      border-radius: 2px;
      width: 100%;
      font: normal normal normal 1rem/24px Helvetica-Neue-Medium;
      font-size: 14px;
      letter-spacing: 0px;
      color: #2f3337;
      justify-content: space-around;
      display: flex;
      align-items: center;
      background-color: transparent;
    }

    .dropdown-menu {
      width: 100%;
      box-shadow: 0px 1px 1px 0px #d2d1d1;
      .dropdown-item-text {
        font-size: 14px;

        a {
          display: block;
          font: normal normal normal 15px/25px Helvetica-Neue-Medium;
          font-size: 14px;
          letter-spacing: 0px;
          color: #0a0a0a;
        }
      }
    }
  }

  // label {
  //   //font-size: 1rem;
  //   font-size: 16px;
  //   //margin-right: 1rem;
  //   margin-right: 16px;
  // }
  .sortlabel {
    font: normal normal 300 15px Helvetica-Neue-Medium;
    letter-spacing: 0px;
    color: #333333;
  }

  select {
    border: 1px solid #dadcdf;
    padding: 16px;
    height: 50px;
    //font-size: 0.975rem;
    font-size: 15px;
  }

  .grid-border {
    border: 1px solid #dadcdf;
    padding: 16px;
    padding: 11px 22px;
    height: 50px;
    cursor: pointer;

    .svg-inline--fa {
      color: #dddddd;
    }

    .col-sm-4 {
      &:nth-child(1),
      &:nth-child(2) {
        border-right: 1px solid #dddddd;
      }
    }
  }

  .product_button {
    padding: 10px 0;

    .btn_one {
      background: #fdcc5d 0% 0% no-repeat padding-box;
      font: normal normal normal 1.1rem Helvetica-Neue-Medium;
      letter-spacing: 0px;
      color: #000000;
    }

    .btn_two {
      background: #4a419f 0% 0% no-repeat padding-box;
      font: normal normal normal 1.1rem Helvetica-Neue-Medium;
      letter-spacing: 0px;
      color: #ffffff;
    }

    .btn_single {
      background: #803fb7 0% 0% no-repeat padding-box;
      font: normal normal normal 1.1rem Helvetica-Neue-Medium;
      letter-spacing: 0px;
      color: #ffffff;
    }

    button {
      padding: 16px;
    }

    a {
      padding: 16px;
    }
  }

  .shortfeatures {
    h5 {
      font: normal normal 600 15px/65px Helvetica-Neue;
      color: #333333;
    }

    .list {
      margin-left: 20px;

      li {
        font: normal normal normal 15px/22px Helvetica-Neue;
        letter-spacing: 0px;
        color: #333333;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    .list_link {
      text-decoration: underline;
      font: normal normal normal 15px/22px Helvetica-Neue;
      letter-spacing: 0px;
      color: #ef9c00;
    }
  }

  .quickstep {
    position: relative;

    .quickstepcontent {
      position: relative;
      padding: 10px 0;

      img {
        max-width: 23px;
      }
    }

    p {
      font: normal normal normal 1rem/16px Helvetica-Neue;
      letter-spacing: 0px;
      color: #616c7b;
      display: inline;
      padding-left: 10px;
    }
  }

  .card {
    //height: 480px;
    margin-bottom: 2rem;
    border-radius: 0;
    ///body start
    ///
    .card-body {
      padding: 10px 15px;

      &:hover {
        background-color: #f6f6f6;
      }

      @media (max-width: 576px) {
        padding: 5px;
        //   min-height: 170px;
      }

      .textcard {
        font: normal normal normal 1rem/19px Helvetica-Neue-Medium;
        color: #4a4a4a;

        del {
          font: normal normal normal 12px Helvetica-Neue;
          color: #000000;
          opacity: 0.58;
        }

        .itemcode {
          font: normal normal normal 1rem/19px Helvetica-Neue-Medium;
          font-size: 14px;
          letter-spacing: 0px;
          color: #4a4a4a;

          @media (max-width: 576px) {
            // font-size: 0.9rem;
            font-size: 12.6px;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }

        .itemname {
          font: normal normal normal 17px/22px Helvetica-Neue-Medium;
          // font-size: 17.78px !important;
          letter-spacing: 0px;
          color: #000000;

          // min-height: 42px;
          @media (max-width: 576px) {
            font-size: 14.8px !important;
          }
        }
      }

      .pricepart {
        padding-top: 5px;

        font: normal normal normal 1.5rem Helvetica-Neue-Bold;

        @media (max-width: 576px) {
          padding-top: 5px;
          font-size: 1rem;
        }

        .pricelabel {
          font: normal normal normal 12px/14px Helvetica-Neue-Bold;
          letter-spacing: 0px;
          color: #ff7600;
        }

        .price {
          span {
            font: normal normal normal 23px/24px Helvetica-Neue-Bold;
            letter-spacing: 0px;
            color: #ff7600;
            @media (max-width: 576px) {
              font-size: 16px;
            }
          }
        }

        .discount {
          font: normal normal normal 14px/20px Helvetica-Neue-Medium;
          letter-spacing: 0px;
          color: #ed0303;
        }
      }

      .textcard p:nth-child(3) {
        font: normal normal bold 20px Helvetica-Neue;
        color: #ff7600;
      }

      .textcard p:nth-child(4) {
        font: normal normal bold 1rem Helvetica-Neue;
        color: #ed0303;
      }

      .QuickbuyMobile {
        background: transparent;
        font: normal normal normal 1.1rem Helvetica-Neue-Medium;
        font-size: 15.4px;
        letter-spacing: 0px;
        color: #000;
        padding: 1rem 0;
        text-align: center;
        border: 2px solid rgb(178, 178, 178);
        border-radius: 4px !important;
        width: 100%;
      }
    }

    ///body end
    .freesample {
      right: 15%;
    }

    .customize-btn {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 0;
      left: 0;
      padding: 15px;
      opacity: 0;
    }

    .card-view-detail {
      position: absolute;
      bottom: 0px;
      width: 100%;

      z-index: 1;
      left: 0;
      visibility: hidden;

      .btn-secondary {
        background: transparent;
        border: 1px solid #fff;

        a {
          color: #fff;
        }
      }

      display: flex;
      justify-content: center;
      align-items: center;

      button {
        width: 100%;

        min-height: 50px;
        //background: var(--unnamed-color-fdcc5d) 0% 0% no-repeat padding-box;
        // background: #ffffff 0% 0% no-repeat padding-box;
        background-color: #fdcc5d;
        border: 1px solid #fdcc5d;
        // opacity: 0.87;
        font: normal normal normal 1.1rem/1.1 Helvetica-Neue-Medium;
        font-size: 15px !important;
        color: #000000;

        &:hover {
          // background-color: #eaaf60;
          color: #fff;
          background: #3f3f3fd4;
          transition: ease-in-out 0.3s;
        }
      }

      @media (max-width: 576px) {
        display: none;
      }
    }

    .order_sample_button {
      button {
        border: 1px solid #919191;
        font: normal normal bold 15px/31px Helvetica-Neue;
        letter-spacing: 0px;
        color: #000000;
        padding: 9px 5px;
        width: 100%;

        &:hover {
          background-color: #f2f2f2;
        }
      }
    }

    .buttonGroup {
      .orderSampleBtn {
        button {
          border: 1px solid #919191;
          font: normal normal normal 15px/31px Helvetica-Neue-Medium;
          letter-spacing: 0px;
          color: #000000;
          padding: 9px 5px;
          width: 100%;

          &:hover {
            background-color: #f2f2f2;
          }
        }

        margin: 5px 0;

        @media (max-width: 1280px) {
          width: 100%;
          flex: 1 auto;
        }
      }

      .AddToCartBtn {
        button {
          // border: 1px solid #919191;
          font: normal normal normal 15px/31px Helvetica-Neue-Medium;
          letter-spacing: 0px;
          color: #000000;
          padding: 9px 5px;
          width: 100%;
          background-color: #fdcc5d;

          &:hover {
            background-color: #fdcc5d;
          }
        }

        @media (max-width: 1280px) {
          width: 100%;
          flex: 1 auto;
        }

        margin: 5px 0;
      }

      .quantitycount {
        .btn-group {
          button,
          input {
            background-color: #3c3c3c;
            color: #fff;
            cursor: pointer;
            text-align: center;
          }

          button {
            &:hover {
              background-color: #adadad;
            }
          }
        }
      }
    }

    @media (min-width: 576px) {
      &:hover {
        color: #000000;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.19), 0 0px 1px rgba(0, 0, 0, 0.01);

        .card-view-detail {
          visibility: visible;
          bottom: 0px;
          background: rgb(0, 0, 0);
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.6670869031206232) 0%, rgba(0, 0, 0, 0.2861345221682423) 40%, rgba(0, 0, 0, 0) 100%);
        }
        .cardbody {
          opacity: 1;
          top: 47px;
          background-color: rgba(255, 255, 255, 0.5);
        }

        .thumb img {
          max-height: 150px;
          max-width: 140px;
          opacity: 0.9;
        }

        .customize-btn {
          opacity: 1;
        }

        .pricepart {
          opacity: 1;
        }
      }
    }
  }

  .group3 {
    .buttonGroup {
      .orderSampleBtn,
      .AddToCartBtn {
        width: 100%;
        flex: 1 auto;
      }
    }
  }

  .group6 .browseImage {
    max-height: 500px;
  }

  .group3 .browseImage {
    max-height: 189px;
  }

  .browseImage {
    width: 100%;
    //height: 310px;
    height: 100%;
    max-height: 280px;

    @media (max-width: 576px) {
      max-height: 189px;
    }
  }

  .thumb {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 160px;
    overflow: hidden;

    img {
      max-height: 146px;
      max-width: 136px;
    }
  }

  .active {
    svg {
      color: #000 !important;
    }
  }

  .group-detail {
    ul {
      flex-wrap: wrap;
    }

    li {
      padding-right: 5px;
      font: normal normal normal 12px Helvetica-Neue;
    }

    p,
    span {
      font: normal normal normal 12px Helvetica-Neue;
      color: #868686;
    }

    .browsebrandlogo,
    .list-group {
      max-height: 38px;
      width: auto;
    }
  }

  .grid-border {
    @media (max-width: 1199px) {
      pointer-events: none;
      opacity: 0.4;
    }
  }

  .materialgridlist {
    .group3 {
      .card-view-detail {
        padding: 5px;
        display: block;
        box-shadow: none;

        > div {
          padding: 5px !important;
          width: 100%;

          button {
            min-height: 40px;
          }
        }
      }
    }

    .free_sample {
      position: absolute;
      // right: 0;
      padding: 10px;
      cursor: pointer;
      width: max-content;

      &:hover {
        img {
          transform: scale(1.3);
          transition: transform 0.2s ease-in-out;
        }
      }
    }

    .materialgridlistitem {
      display: flex;

      &.group6 {
        .hide6 {
          display: none;
        }
      }
    }
  }

  .mobile-button {
    .border-button,
    .btn-secondary {
      position: relative;
      width: 100%;

      a,
      button {
        width: 100%;
        border: 2px solid #d3d3d3;
        display: block;
        text-align: center;
        padding: 12px 20px;
        border-radius: 4px !important;
        background-color: #fff;
        font: normal normal normal 1rem/18px Helvetica-Neue-Bold;
        letter-spacing: 0px;
        color: #000000;
      }

      span {
        font: normal normal normal 1rem/18px Helvetica-Neue-Bold;
        letter-spacing: 0px;
        color: #000000;
      }
    }
  }
}

.product-grid {
  width: 100%;
  color: red;
  background-color: #eeeded;
  float: left;
}

.pagination {
  display: flex;
  align-items: center;
  margin: 0 40px;
  padding: 0;
  font-size: 18px;
  list-style: none;
  user-select: none;
  justify-content: center;

  .page-item {
    min-width: 32px;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
    transition: all 0.3s;
    border-radius: 50%;
    font-size: 16.8px;
    cursor: pointer;

    &:hover {
      color: #525151;
      background: lighten(#9b9b9b, 35);
    }

    &.active {
      padding: 0;
      color: #fff;
      background: #eaaf60 !important;
    }

    &.arrow-icon {
      position: relative;
      z-index: 1;
      font-size: 35px;
      transform: translateY(-2px);
      transition: all 0.3s;

      &:after {
        content: '';
        width: 45px;
        height: 45px;
        position: absolute;
        z-index: -1;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        color: #e6bb84;
        background: transparent;

        &:after {
          background: lighten(#9b9b9b, 35);
        }
      }

      &.disabled {
        cursor: not-allowed;
        color: rgba(#9b9b9b, 0.3);

        &:hover {
          background: transparent;
        }
      }
    }
  }
}
