.MediaCoverage {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #262626;
  .max-content {
    max-width: 1366px;
  }
  .MediaCoverageSwiper {
    text-align: center;
    padding: 32px 0;
    .swiper-pagination-bullet-active {
      background: #fff;
    }
    .swiper-pagination-bullet {
      margin: 0 10px !important;
      background: #fff;
    }
    .Bannertxtbox {
      text-align: center;
      letter-spacing: 0.63px;
      color: #000000;
      font-size: 21px;
      padding-top: 5px;
      color: #fff;
      .spacialtxt {
        text-align: center;
        font-weight: bold;
        letter-spacing: 0.63px;
        color: #fff;
      }
    }
  }
  .heading {
    text-align: center;
    h1, h2, h3,h4,h5,h6 {
      border-left: 2px solid #fdcc5d;
      font-size: 35px;
      display: inline-block;
      padding-left: 25px;
      color: #fff;
      @media (max-width: 576px) {
        padding-left: 0;
        border: none;
      }
    }
  }
}
