.MoodBoardView {
  position: relative;
  margin-bottom: 193px;
  .breadcrumb {
    font: normal normal normal 1rem/34px Helvetica-Neue;
    letter-spacing: 0.42px;
    color: #656565;
    opacity: 1;
    background: #fff;
    padding-left: 0px;
    padding-right: 0px;
    a {
      color: #656565;
    }
  }

  h3 {
    font-family: Helvetica-Neue-Medium;
    font-size: 40px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;

    color: #000000;
    span {
      margin: 0px;
      font-size: 30px;
      font-weight: 300;
      font-family: Helvetica-Neue-Light;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.13;
      letter-spacing: normal;

      color: #000000;
    }
  }

  // hr {
  //   margin: 41px 0px 36px;
  //   opacity: 0.28;
  //   border: solid 1px #707070;
  // }

    .mood-boards {
      h3 {
        margin: 0px 0px 30px 0px;
        font-family: Helvetica-Neue-Bold;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;

        color: #282c3f;
      }
    }

  .create-new-list {
    width: 318px;
    height: 231px;
    font-size: 22px;
    font-family: Helvetica-Neue-Light;
    margin: 30px 31px 0 0px;
    padding: 102px 60px 102px 60px;
    object-fit: contain;
    border: solid 1px #7e818c;
    background-color: #ededed;
    text-decoration: underline;
  }
  .nav-link {
    background-color: transparent;
    color: #7d808b;
    font: normal normal 300 1rem/15px Helvetica-Neue-Bold;
    padding-bottom: 15px;
    margin-right: 0;
    white-space: nowrap;
    &:hover {
      border: none;
    }
    padding: 10px;

    @media (min-width: 576px) {
      padding: 15px;
      margin-right: 15px;
    }
    &.active {
      color: #282c3f;
      border: none;
      border-bottom: 1px solid #ef9c00;
      border-radius: 0;
    }
  }
}

.divSpan {
  font: normal normal normal 1rem/16px Helvetica-Neue-Bold;
  letter-spacing: 0px;
  color: #000000;
}

.create_new_mood_board {
  .modal-header,
  .modal-footer {
    border: 0;
  }

  .user_input_wrp .floating-label,
  .user_input_wrp input:focus ~ .floating-label,
  .has-content.inputText ~ .floating-label {
    left: 1rem;
  }

  .user_input_wrp .floating-label {
    font-family: Helvetica-Neue;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 0.3px;

    color: #000000;
  }

  .modal-header {
    padding: 38px 48px 10px 38px;
    font-family: Helvetica-Neue-Bold;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;

    color: #000000;
  }

  .modal-body {
    padding: 38px 48px 38px 38px;
    .div-sapn {
      padding: 0px;
    }

    .user_input_wrp {
      .inputText {
        height: calc(2em + 0.75rem + 2px);
      }
    }

    .orange_color_bg {
      padding: 8px 47px;
      font-family: Helvetica-Neue-Bold;
      font-size: 15px;

      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;

      background-color: #ffd560;
    }
  }
}
