#SideNavbar {
  @media screen and (max-width:576px) {
    width: 100% !important;
  }

  .langCountry {
    div{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .offCanvas-product{
    button{
      background-color: transparent;
    }
    label{
      color: #000;
    }
  }
  .border-bottom{
    a {
      display: flex !important;
      justify-content: space-between; 
    }
  }
  .offCanvas-product ::after{
    background-image: none;
    width: 0;
  }

  .offCanvas-product :not(.collapsed)::after{
    background-image: none;
    width: 0;
  }

  #wrapper {
    position: relative;
    width: 98%;
    height: 100%;
    overflow: hidden;
    margin: auto;
  }
  .offcanvasNavbarloginlabel {
    color: #ef9c00;
    width: 100%;
  }

  label {
    width: 100%;
    cursor: pointer;
    font-family: Helvetica-Neue;
    &:focus {
      outline: none;
    }
  }

  .menu__wrap {
    --space: 0.8em;
    --line: 1em;
    --spread: calc(var(--line) + var(--space) + var(--space));
  }

  .menu,
  .menu__wrap {
    --width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .menu {
    transform: translate3d(calc(var(--width) * 1), 0, 0);
    transition: transform 0.35s;
  }

  .menu__head {
    display: flex;
    align-items: center;
    padding: 10px;
    .menu__toggle {
      padding: 0;
    }
    .menu__toggle {
      // position: absolute;
      // left: 0;
      // top: 0;
      // width: var(--spread);
      // height: var(--spread);
      // padding: 0;
      // line-height: 0px;
      // display: block;
      // padding: 0;
      // text-indent: -9999px;
      // background: #fff
      //   url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-left-b-128.png)
      //   50% 50% / 25px 25px no-repeat;
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  .submenu {
    overflow-y: auto;
    height: 100%;
  }

  .menu__wrap > .submenu {
    // padding-top: var(--spread);
  }

  .link,
  .menu__trigger,
  .no_trigger,
  .submenu li {
    display: flex;
    padding: 5px 20px;
    color: #000;
    width: 100%;
    justify-content: space-between;
    font-family: Helvetica-Neue;
  }
  .submenu li a {
    color: #000;
    width: 100%;
    display: block;
  }
  .main_navigation {
    > li {
      padding: 5px 15px;
      label {
        padding: 5px;
      }
    }
    li {
      // &:nth-child(odd) {
      //   background-color: #fafafa;
      // }
      // &:nth-child(even) {
      //   background-color: #fff;
      // }
      background-color: #fff;
    }
    .menuSpace {
      background-color: #f2f2f2;
      li {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }

  .link:hover {
    color: #666;
  }

  .menu__trigger {
    &:hover {
      color: #666;
    }

    // background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png)      95% 50% / 16px 16px no-repeat;
  }

  /* hide inputs */

  .menu__status {
    display: none;

    &:checked + .menu {
      transform: translate3d(0, 0, 0);
    }
  }

  /* fade in checked menu */

  /* for show */

  #info {
    display: table;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
  }

  #info-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;

    h1 {
      color: #fff;
      // border: 3px solid #fff;
      text-align: center;
      background: rgba(0, 0, 0, 0.1);
      font-size: 22px;
      font-weight: normal;
      padding: 20px;
      margin: 10px;
      display: inline-block;
    }

    strong {
      display: block;
      font-size: 26px;
    }
  }
}

#FilterProduct {
  @media screen and (max-width:576px) {
    width: 100% !important;
  }
  .clear_link {
    font: normal normal normal 1rem Helvetica-Neue;
    color: #f0a313;
  }
  .nav-pills .nav-link {
    font: normal normal normal 1rem Helvetica-Neue;
    letter-spacing: 0.52px;
    color: #000000;
    position: relative;
    background-color: #ececec;
    border-radius: 0;
    padding: 2rem 1rem;
    border: 1px solid #ececec;
    &.active {
      background-color: #fff;
    }
  }
  .filterbottom {
    box-shadow: 0px 7px 12px 2px #000;
  }
  .filtercheckbox {
    font: normal normal normal 1rem/1.75rem Helvetica-Neue;
    cursor: pointer;
    a {
      color: #000000;
      label {
        padding: 0 10px;
      }
    }
  }

  .input-range__label--min,
  .input-range__label--max,
  .input-range__label.input-range__label--bottom-max,
  .input-range__label.input-range__label--bottom-min {
    display: none !important;
  }
}
