#OfferSection {
  .Offer {
    max-width: 1394px;

    @media (max-width: 1440px) {
      padding: 0 15px;
    }

    .swiper-initialized {
      background-color: #ffffff;
    }

    .heading {
      .offer-title {
        font: normal normal 600 1.15rem/19px Helvetica-Neue;
        letter-spacing: 1.28px;
        color: #989898;
        text-transform: uppercase;

        @media (max-width: 768px) {
          font-size: 1rem;
          line-height: 17px;
          padding-left: 12px;
        }
      }
    }

    .offer-heading {
      padding-top: 1rem;
      align-items: center;

      .offer-title-big {
        h3 {
          font: normal normal normal 2.8rem/49px Helvetica-Neue-Medium;
          font-size: 39.2px;
          letter-spacing: 0px;
          color: #000000;

          @media (max-width: 768px) {
            font-size: 27.86px;
            line-height: normal;
          }
        }
      }

      .offer-title-all {
        font: normal normal normal 1.1rem/18px Helvetica-Neue-Medium;
        letter-spacing: 0.45px;
        color: #434343;
      }

      @media (max-width: 768px) {
        padding: 10px 0;

        .offer-title-big h3 {
          font-size: 27.86px;
          line-height: 33px;
          text-transform: lowercase;
          font-weight: 500;

          &::first-letter {
            text-transform: capitalize;
          }
        }

        .offer-title-all-mobile {
          font: normal normal normal 1rem/17px Helvetica-Neue-Medium;
          letter-spacing: 0.42px;
          color: #ef9c00;
        }
      }
    }

    .offerslider {
      padding-top: 30px;

      @media (max-width: 768px) {
        padding-top: 20px;
      }

      .slider-text {
        position: absolute;
        bottom: 5%;
        width: 100%;
        text-align: center;
        color: #fff;
        text-decoration: underline !important;
        font: normal normal 200 16px/19px Helvetica-Neue;

        p {
          font: normal normal bold 1.35rem/27px Helvetica-Neue;
          letter-spacing: 0.66px;
          color: #ffffff;
          width: 80%;
          margin: 0 auto;
          word-wrap: break-word;
        }
      }
    }
    .pro_mat_title {
      width: 65%;
      float: left;
      font: normal normal 500 21px/19px Helvetica-Neue;
      letter-spacing: 1.28px;
      color: #000000e3;
      // text-transform: uppercase;
      padding: 15px 0px;
      @media (max-width: 576px) {
        font-size: 15px;
        padding: 9px 0px;
      }
    }
    .materialgridlist {
      .offer-heading {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .view_all {
      width: 35%;
      float: left;
      text-align: right;
      margin-right: -20px;
      padding: 10px 0px;
      a {
        border: 2px solid #b2b2b2;
        padding: 7px 12px;
        color: rgba(0, 0, 0, 0.72);
        text-transform: uppercase;
        font-size: 15px;
      }
      @media (max-width: 576px) {
        padding: 0px;
        a {
          font-size: 13px;
          background-color: rgb(255, 157, 0);
          color: #fff;
        }
      }
      a:hover {
        background-color: rgb(255, 157, 0);
        color: #fff;
      }
    }
    .offer_product_slide {
      .swiper-pagination {
        display: none;
      }
      .arrow_navigation.col {
        position: relative;

        .swiper-button-next {
          right: -3.5%;
          position: absolute;
          .CircleLoader {
            top: -350px;
            position: absolute;
          }
        }
        .swiper-button-prev {
          left: -3.5%;
          position: absolute;
          .CircleLoader {
            top: -350px;
            position: absolute;
          }
        }
        .swiper-button-next::after,
        .swiper-button-prev::after {
          content: '';
        }
      }
    }
  }
  .MaterialList .materialgridlist .materialgridlistitem .card .card-body {
    display: flex;
    min-height: 235px;
    @media (max-width: 1150px) {
      min-height: 305px;
    }
    @media (max-width: 576px) {
      min-height: 330px;
    }
  }
}

#NewCollection {
  padding-top: 15px;

  @media (max-width: 1440px) {
    padding: 0 22px;
  }

  @media (max-width: 576px) {
    padding: 0;
  }

  .offerCollection {
    max-width: 1394px;

    .h6 {
      font: normal normal 600 1.15rem/19px Helvetica-Neue;
      letter-spacing: 1.28px;
      color: #989898;
      text-transform: uppercase;
    }

    .offer-title-big {
      font: normal normal 400 2.8rem/49px Helvetica-Neue;
      letter-spacing: 0px;
      color: #000000;
    }

    .offerCollectionrow {
      align-items: center;
    }

    .offset-xl-1 {
      margin-right: 0% !important;
    }

    .offerCollection-text {
      h6 {
        font: normal normal 600 1rem/19px Helvetica-Neue;
        letter-spacing: 0.28px;
        font-size: 14px !important;
        color: #989898;
        text-transform: uppercase;
        white-space: nowrap;

        @media (min-width: 900px) {
          letter-spacing: 1.28px;
        }
      }

      h1 {
        padding-top: 24px;
        padding-left: 20px;
        align-items: center;
        font: normal normal normal 2.8rem/49px Helvetica-Neue-Medium;
        font-size: 39.2px;
        letter-spacing: 0px;
        color: #000000;

        @media (max-width: 768px) {
          font-size: 27.86px;
          line-height: normal;
          padding-left: 15px;
        }
      }

      p {
        padding-left: 20px;
        font: normal normal 300 1.1rem/32px Helvetica-Neue-Light;
        font-size: 16.1px;
        letter-spacing: 0.54px;
        color: #000;
        font-size: 17.78px;

        @media (max-width: 768px) {
          padding-left: 15px;
          font: normal normal 300 1.15rem/26px Helvetica-Neue-Light;
          font-size: 16.1px;
        }
      }

      .shop-link {
        a {
          font: normal normal normal 1.1rem/18px Helvetica-Neue-Medium;
          letter-spacing: 0.45px;
          color: #434343;
          font-size: 15.4px !important;
        }
      }

      .ordermobile {
        order: 1;
      }

      @media (max-width: 1440px) {
        padding-bottom: 20px;
      }

      .shop-link-mobile {
        a {
          font: normal normal normal 1rem/17px Helvetica-Neue-Medium;
          font-size: 14px;
          letter-spacing: 0.42px;
          color: #ef9c00;
        }
      }
    }

    @media (max-width: 1440px) {
      padding: 0 15px;
    }
  }

  @media (min-width: 992px) {
    .offerCollectionSlider {
      min-height: 41vw;

      // .swiper-slide {
      //   animation: 2s slide-left;
      //   img{
      //     animation: 2s slide-left;
      //   }
      // }
      .swiper-slide-active {
        animation: 1s slide-left;
      }

      img {
        width: 75% !important;
      }

      @keyframes slide-left {
        from {
          //  margin-left: 100%;
          transform: scale(0.7);
        }

        to {
          //  margin-left: 0%;
          transform: scale(1);
        }
      }

      // display: flex;
      // align-items: center;
      @media (min-width: 1920px) {
        min-height: 600px;
      }

      &.swiper-initialized {
        .swiper-wrapper {
          // display: flex;
          // align-items: center;
          width: 60%;
          margin: 0;

          .swiper-slide {
            position: relative;
            text-align: right;
            // &.swiper-slide-next {
            //   width: 76% !important;
            //   right: 27%;
            //   transition: all 1s ease;
            // }
          }
        }
      }

      @keyframes flipone {
        0% {
          left: 100%;
        }

        100% {
          left: 0%;
        }
      }

      @keyframes flip {
        0% {
          left: 100%;
        }

        100% {
          left: 0%;
        }
      }

      .swiper-slide-active {
        z-index: 99;
      }

      .swiper-slide-prev {
        z-index: 9;

        img {
          width: 210px !important;
          z-index: 999;
          position: absolute;
          right: -40%;
          transform: translate(0, 40%);
        }
      }
    }
  }

  .sliderNavigation {
    // position: absolute;
    top: 40%;
    cursor: pointer;
    right: 0;

    .swiper-prev {
      z-index: 1;
      margin: 15px 0;

      &:focus {
        outline: none;
      }
    }

    .swiper-next {
      z-index: 1;
      margin: 15px 0;

      &:focus {
        outline: none;
      }
    }

    .swiper-next,
    .swiper-prev {
      max-width: 65px;

      img {
        max-width: 65px;
      }
    }
  }
}
