.OurProjetSlider {
  position: relative;
  .swiper-button-prev:after,
  .swiper-button-next:after {
    color: #fff;
    @media (max-width: 576px) {
      display: none;
    }
  }
  .swiper-pagination-bullet {
    background-color: #ffffff;
    opacity: 1;
    border-radius: 50%;
    margin: 1rem !important;
    &.swiper-pagination-bullet-active {
      opacity: 0.6;
    }
  }
  .col-first {
    color: #fff;
    @media (max-width: 1440px) {
      padding: 15px;
    }
    h5 {
      border-left: 2px solid #fdcc5d;
      text-transform: uppercase;

      font-size: 16px;
      padding-left: 25px;
      margin-left: -25px;
      @media (max-width: 576px) {
        margin-left: 0;
      }
    }
    h1 {
      font: normal normal normal 2.8rem/49px Helvetica-Neue-Medium;
      font-size: 39.2px;
      letter-spacing: 0px;
      @media (max-width: 768px) {
        font-size: 27.86px;
        line-height: normal;
      }
    }
    p {
      letter-spacing: 0.54px;
      font-weight: 300;
      line-height: 31px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    a {
      color: #fff;
      border-bottom: 2px solid #fdcc5d;
      padding-bottom: 3px;
    }
    .boxText {
      position: relative;
      max-width: 536px;
      float: right;
      margin-right: 4.5em;
      padding-top: 9.5em;
      @media screen and (max-width: 768px) {
        margin-right: 0;
        padding-bottom: 20px;
        max-width: 100%;
        padding-top: 2em;
      }
    }
  }
  .col-second {
    color: #fff;
    h5 {
      border-left: 2px solid #fdcc5d;
      text-transform: uppercase;

      font-size: 16px;
      padding-left: 25px;
      margin-left: -25px;
    }
    h1 {
      font-size: 40px;
      line-height: 49px;
      padding-top: 20px;
    }
    p {
      letter-spacing: 0.54px;
      font-weight: 300;
      line-height: 31px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    a {
      color: #fff;
      border-bottom: 2px solid #fdcc5d;
      padding-bottom: 3px;
    }
    .boxText {
      position: relative;
      max-width: 536px;
      margin-left: 6.5em;
      padding-top: 6.5em;
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1600px) {
  .OurProjetSlider {
    .row-reverse {
      flex-direction: row-reverse;
    }
    .col-first {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      h5 {
        border-left: 2px solid #fdcc5d;
        text-transform: uppercase;

        font-size: 16px;
        padding-left: 25px;
        margin-left: -25px;
      }
      h1 {
        font-size: 32px;
        line-height: normal;
      }
      p {
        letter-spacing: 0.54px;
        font-weight: 300;
        line-height: 31px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      a {
        color: #fff;
        border-bottom: 2px solid #fdcc5d;
        padding-bottom: 3px;
      }
      .boxText {
        position: relative;
        max-width: 536px;
        float: right;
        margin-right: 0;
        padding: 20px;
      }
    }
    .col-second {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      h5 {
        border-left: 2px solid #fdcc5d;
        text-transform: uppercase;

        font-size: 16px;
        padding-left: 25px;
        margin-left: -25px;
      }
      h1 {
        font-size: 32px;
        line-height: normal;
      }
      p {
        letter-spacing: 0.54px;
        font-weight: 300;
        line-height: 31px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      a {
        color: #fff;
        border-bottom: 2px solid #fdcc5d;
        padding-bottom: 3px;
      }
      .boxText {
        position: relative;
        max-width: 536px;
        padding: 20px;
        margin-left: 0;
      }
    }
  }
}
