.PageBanner {
  position: relative;  
  
  .overly {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #000000;
    opacity: 0.45;
  }
  .heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      text-align: center;
      font: normal normal 600 50px/64px Helvetica-Neue;
      letter-spacing: 1.5px;
      color: #ffffff;
    }
  }
  .breadcrumb {
    position: absolute;
    top: 5%;
    left: 13%;
    
    background: transparent;
    font: normal normal normal 1rem/34px Helvetica-Neue;
    letter-spacing: 0.42px;
    color: #ffffff;
    a{
    color: #ffffff;

    }
  }
}
