.ProductMaterialDetailThumbSlider {
  position: relative;
  text-align: center;
  .swiper-pagination-bullet {
    background-color: #ffffff !important;
    opacity: 0.6;
    border-radius: 50%;
    &.swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
  #thumbs {
    padding: 15px 0;
    cursor: pointer;

    .swiper-wrapper {
      img {
        //  max-width: 98px;
        max-height: 90px;
      }
    }

    max-height: 102px;
    @media (max-width: 768px) {
      max-height: inherit;
      padding: 1rem 0;
    }
    @media (max-width: 576px) {
      padding: 0;
    }
    .left {
      position: relative;
      // @media (min-width: 1600px) {
      //   max-width: 80%;
      // }
      // @media (max-width: 400px) {
      //   width: 100%;
      //   display: block;
      //   padding: 0;
      // }
    }
    // .right {
    //   position: relative;
    //   @media (min-width: 1600px) {
    //     max-width: 25%;
    //   }
    //   @media (max-width: 400px) {
    //     width: 100%;
    //     display: block;
    //     padding: 0;
    //   }
    // }
  }
  .static-thumb {
    position: relative;
    .media {
      align-items: center;
      .border-div {
        border-right: 1px solid #70707027;
        padding-right: 15px;
        p {
          font: normal normal normal 12px/22px Helvetica-Neue;
          letter-spacing: 0px;
          color: #000000;
          opacity: 0.36;
        }
        h5 {
          font: normal normal 600 1rem/18px Helvetica-Neue;
          letter-spacing: 0px;
          color: #000000;
          opacity: 1;
        }
      }
      a {
        margin-left: 18px;
      }
    }
  }
  .zoom-slider {
    position: relative;
    .expand-product {
      position: absolute;
      top: 7%;
      right: 4%;
      z-index: 1;
      cursor: pointer;
    }
    .share-product {
      position: absolute;
      bottom: 7%;
      right: 4%;
      z-index: 1;
    }
    img {
      max-height: 350px;
      @media (min-width: 576px) {
        max-height: calc(85vh - 80px);
      }
    }
  }
  .border-button {
    position: relative;
    width: 100%;
    max-width: 80%;
    display: inline-block;
    margin-top: 15px;
    a {
      width: 100%;

      border: 0.75px solid #b8b8b8;
      display: block;
      text-align: center;
      padding: 12px 5px;
      border-radius: 0px;
      margin-right: 32px;
      @media (max-width: 576px) {
        margin-right: 0;
      }
    }
    span {
      font: normal normal normal 15px/18px Helvetica-Neue-Medium;
      letter-spacing: 0px;
      color: #000000;
    }
    @media (max-width: 576px) {
      max-width: 100%;
    }
  }
  #main{
    ul.swiper-wrapper{
      padding: 0;
      margin: 0;
    }
  }
}
