.ProductMaterialDetail {
  position: relative;

  .maxwidth {
    max-width: 1435px;
  }

  .breadcrumb {
    font: normal normal normal 1rem/34px Helvetica-Neue;
    letter-spacing: 0.42px;
    padding-left: 1% !important;
    color: #656565;
    opacity: 1;
    background: #fff;

    a {
      color: #656565;
      font-size: 14px;
    }
  }

  .productdetails {
    position: relative;

    @media (min-width: 1600px) {
      max-width: 566px;
      margin: 0 auto;
    }

    .border-button {
      position: relative;
      width: 100%;
      max-width: 172px;
      font-size: 14px;
      border: 1px solid;
      display: flex;
      align-items: center;
      justify-content: center;
      // height: 100%;
      height: 60px;
      cursor: pointer;

      a {
        width: 100%;

        border: 0.75px solid #6e6e6e;
        display: block;
        text-align: center;
        padding: 12px 0px;
        border-radius: 0px;
        margin-right: 32px;
      }

      span {
        font: normal normal normal 1.1rem/18px Helvetica-Neue-Medium;
        letter-spacing: 0px;
        color: #000000;
        padding: 5px;
      }
    }

    // .add-wish {
    //   position: absolute;
    //   right: 0;
    //   top: 0;
    // }
    .payment-notice {
      margin: 15px 0;

      span {
        font: normal normal normal 12px/35px Helvetica-Neue;
        letter-spacing: 0px;
        color: #000000;
      }
    }
  }

  .productName {
    p {
      font: normal normal normal 15px/21px Helvetica-Neue;
      letter-spacing: 0px;
      color: #000000;

      span {
        font: normal normal normal 15px/16px Helvetica-Neue;
        letter-spacing: 0px;
        color: #6a6a6a;
      }
    }

    h1 {
      font: normal normal normal 2rem/34px Helvetica-Neue-Medium;
      font-size: 28px;
      letter-spacing: 0px;
      color: #000000;
    }
  }

  .productPrice {
    .pricelabel {
      font: normal normal normal 12px/14px Helvetica-Neue-Bold;
      letter-spacing: 0px;
      color: #ff7600;
    }

    .price {
      font: normal normal normal 30px Helvetica-Neue-Bold;
      letter-spacing: 0px;
      color: #ff7600;
      opacity: 1;
    }

    .pricesave {
      del {
        text-decoration: line-through;
        font: normal normal normal 1rem Helvetica-Neue;
        letter-spacing: 0px;
        color: #000000;
        opacity: 0.58;
      }

      span {
        font: normal normal normal 1rem Helvetica-Neue;
        letter-spacing: 0px;
        color: #001389;
        opacity: 1;
      }
    }
  }

  .product_button {
    padding: 10px 0;

    .btn_one {
      background: #fdcc5d 0% 0% no-repeat padding-box;
      font: normal normal normal 1.1rem Helvetica-Neue-Medium;
      letter-spacing: 0px;
      color: #000000;

      @media (max-width: 576px) {
        font-size: 1.9rem;
      }
    }

    .btn_two {
      background: #000000;
      font: normal normal normal 1.1rem Helvetica-Neue-Medium;
      font-size: 15.4px;
      letter-spacing: 0px;
      color: #ffffff;
      padding: 1rem 0;
    }

    .btn_single {
      background: #4a419f;
      font: normal normal normal 1.1rem Helvetica-Neue-Medium;
      font-size: 15.4px;
      letter-spacing: 0px;
      color: #ffffff;
    }
    img {
      padding:0 10px;
    }
    a {
      padding: 16px 0;
      margin-top: 15px;
    }

    @media (max-width: 576px) {
      
      .btn_one,
      .btn_single,
      .btn_two {
        font-size: 12.6px;
      }

      // .btn_two {
        // padding: 1.15rem 0;
      // }
    }
  }

      @media (max-width: 576px) {
            

        .top-24{
          position: sticky;
            bottom: 0;
            background: #fff;
            z-index: 112;
        }
      }

  .shortfeatures {
    h5 {
      font: normal normal 500 15px/65px Helvetica-Neue;
      color: #333333;
    }

    ul {
      margin-left: 20px;

      li {
        font: normal normal normal 15px/22px Helvetica-Neue;
        letter-spacing: 0px;
        color: #333333ab;
        padding: 6px 0 6px 16px;
        list-style-image: url("../../public/assets/icon/2089713.png");
      }
    }

    a {
      text-decoration: underline;
      font: normal normal normal 15px/22px Helvetica-Neue;
      letter-spacing: 0px;
      color: #ef9c00;
    }
  }

  .grid-system {
    margin-top: 10px;
    padding: 12px 0;
    display: grid;
    grid-template-columns: 42% 58%;
    grid-gap: 1rem;
    border-top: 0.75px solid #7070703a;
    border-bottom: 0.75px solid #7070703a;
    align-items: center;

    .group-detail {
      &:nth-child(2) {
        border: none;
        border-left: 0.75px solid #7070703a;
        padding-left: 8%;
      }

      p {
        font: normal normal normal 1rem/28px Helvetica-Neue-Medium;
        font-size: 16px;
        letter-spacing: 0px;
        color: #000000;
        opacity: 0.45;
      }

      h5 {
        font: normal normal normal 1.15rem/28px Helvetica-Neue-Medium;
        font-size: 16.1px;
        letter-spacing: 0px;
        color: #000000;
      }
    }
  }

  .color-detail {
    ul {
      border-color: #7070703a;
      flex-wrap: wrap;
    }

    li {
      padding: 4px;
    }

    h5 {
      font: normal normal normal 1.15rem/16px Helvetica-Neue-Medium;
      font-size: 16.1px;
      letter-spacing: 0px;
      color: #000000;

      span {
        font: normal normal normal 1.15rem/16px Helvetica-Neue;
        font-size: 16.1px;
        letter-spacing: 0px;
        color: #000000;
        opacity: 0.56;
      }
    }

    .swiper-pagination-bullet {
      width: 17px;
      height: 5px;
      border-radius: 3px;
      background-color: #d0cfd4;

      &.swiper-pagination-bullet-active {
        background-color: #ef9c00;
      }
    }

    img {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      border: 1px solid #000000;
      padding: 3px;
    }

    .active {
      img {
        border-color: #ff7600;
      }
    }
  }

  .select-fabric {
    .heading {
      margin-top: 20px;

      h5 {
        font: normal normal normal 1.15rem/16px Helvetica-Neue-Medium;
        font-size: 16.1px;
        letter-spacing: 0px;
        color: #000000;

        span {
          font: normal normal normal 1.15rem/16px Helvetica-Neue;
          letter-spacing: 0px;
          color: #000000;
          opacity: 0.56;
        }
      }
    }

    .febric-grid {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 22px;
      border-bottom: 0.75px solid #7070703a;
      padding: 12px 0;
      align-items: center;

      .list_link {
        text-decoration: underline;
        font: normal normal normal 15px/22px Helvetica-Neue;
        letter-spacing: 0px;
        color: #ef9c00;
      }

      .group-detail {
        ul {
          border-color: #7070703a;
          flex-wrap: wrap;
        }

        li {
          padding: 4px;

          img {
            border-radius: 50%;
            height: 40px;
            width: 40px;
            cursor: pointer;
          }

          &.active {
            img {
              border: 1px solid #ff7600;
            }
          }
        }

        p,
        span {
          font: normal normal normal 1rem/20px Helvetica-Neue;
          color: #868686;
        }
      }
    }
  }

  .ProductListCardView {
    .color_image {
      width: 40px !important;
      height: 40px !important;
      border-radius: 50% !important;
      border: 0.2px solid #747474 !important;
      // border: 0.5px solid #ff7600;
      // margin: 3px !important;
      padding: 2px !important;

      @media (max-width: 576px) {
        width: 38px !important;
        height: 38px !important;
        // padding: 3px;
      }

      &.active {
        border: 2px solid #ff7600 !important;
      }
    }

    max-width: 1375px;
    position: relative;
    padding-bottom: 2rem;
    margin: 0 auto;

    // .left {
    //   @media (min-width: 1600px) {
    //     max-width: 52.5%;
    //   }
    // }
    // .right {
    //   @media (min-width: 1600px) {
    //     max-width: 47.5%;
    //   }
    // }
    .quickstep {
      .instruction {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 2px;
        padding: 15px 5px;
        align-items: center;
        background-color: #f8f8fa;
        cursor: pointer;
        justify-content: center;
      }

      position: relative;

      .quickstepcontent {
        &:nth-child(3) {
          border: none;
        }

        border-right: 0.75px solid #7070703a;
        position: relative;
        padding: 10px 0;
      }

      img {
        padding-right: 20px;
      }

      p {
        font: normal normal normal 1rem/17px Helvetica-Neue-Medium;
        font-size: 14px;
        letter-spacing: 0px;
        color: #4c4c4b;
      }

      a {
        text-decoration: underline;
        font: normal normal normal 12px/20px Helvetica-Neue;
        letter-spacing: 0px;
        color: #4c4c4b;
      }
    }

    .color_list {
      .swiper.swiper-initialized.swiper-horizontal {
        min-height: 75px;
      }

      .swiper-pagination {
        bottom: -4px;
      }
    }
  }
}

.ProductMaterialDetailSamplePopup {
  .heading {
    h1 {
      font: normal normal normal 2.4rem Helvetica-Neue-Medium;
      letter-spacing: 0px;
      color: #f59614;

      @media (max-width: 768px) {
        font-size: 1.8rem;
        line-height: normal;
      }
    }

    p {
      font: normal normal 300 1rem/23px Helvetica-Neue-Light;
      letter-spacing: 0.42px;
      color: #666666;
    }
  }

  .SamplePopupContent {
    h4 {
      font: normal normal normal 1.2rem/19px Helvetica-Neue-Medium;
      letter-spacing: 0px;
      color: #000000;
      padding: 0.6rem 0;
    }

    p {
      font: normal normal normal 1rem/20px Helvetica-Neue;
      letter-spacing: 0.39px;
      color: #000000;
      opacity: 0.29;
    }
  }
}