.ProfileSidebarLayout {
  margin-top: 0px;
  .max-width {
    max-width: 1500px;
    padding: 0 15px;
  }
  .heading-section {
    padding: 15px 0;

    h1 {
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 20px;
      color: #282c3f;
    }
  }
  .ProfileSidebar-col {
    border-color: #eaeaec;
    border-left-color: transparent !important;
    @media (min-width: 1600px) {
      flex: 0 0 22%;
    }
  }
  .ProfileSidebar {
    max-width: 78%;
    position: relative;
    @media (max-width: 768px) {
      margin: 0 auto;
      max-width: 100%;
    }
    .media {
      padding: 15px 0;
      .profile_image {
        border-radius: 50%;
        max-width: 48px;
      }
      .media-body {
        h6 {
          font: normal normal bold 1rem/16px Helvetica-Neue-Light;
          letter-spacing: 1.28px;
          color: #282c3f;
        }
        p {
          font: normal normal normal 1rem/15px Helvetica-Neue-Bold;
          letter-spacing: 0;
          color: #282c3f;
        }
      }
    }
    .side-menu {
      li {
        border-bottom: 1px solid #eaeaec;
        &.active {
          border-bottom: 1px solid #ef9c00;
        }
      }
      a {
        padding: 25px 0;

        display: flex;
        align-items: center;
        span {
          font: normal normal normal 1rem/15px Helvetica-Neue-Bold;
          letter-spacing: 0;
          color: #282c3f;
        }
      }
      .border-button {
        position: relative;
       
          border: 1px solid #8a939f;
          justify-content: center;
          align-items: center;
          padding: 13px 0;
          margin: 45px 0;
       
        span {
          font-size: 15px;
        }
      }
    }
    .border-button {
      position: relative;
      width: 100%;
      display: block;
      margin-top: 15px;
     
        border: 1px solid #8a939f;
        border-radius: 0px;
        display: inline-flex;
        text-align: center;
        padding: 4px 0px;
        width: 100%;
     
      span {
        font: normal normal normal 1rem/17px Helvetica-Neue-Bold;
        letter-spacing: 0px;
        color: #282c3f;
      }
    }
  }
  .Profile-content-col {
    @media (min-width: 1600px) {
      flex: 0 0 70%;
    }
  }
  .Profile-content {
    max-width: 915px;
    margin: 0 auto;
  }
}
.ProfileMobileSidebarPage {
  max-width: 78%;
  margin-right: auto;
  position: relative;
  @media (max-width: 768px) {
    margin: 0 auto;
    max-width: 100%;
  }
  .profileimage {
    background-color: #f2f2f2;
    padding: 2rem 0;
    position: relative;
    margin-bottom: 5rem;
    .imagebox {
      
     margin-bottom: -7rem;
      img {
        width: 20%;
        border-radius: 50%;
      }
    }
  }
  .side-menu {
    li {
      border-bottom: 1px solid #eaeaec;
      &.active {
        border-bottom: 1px solid #ef9c00;
      }
    }
    a {
      padding: 25px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        margin-left: 15px;
        margin-right: 15px;
        font: normal normal normal 1rem/15px Helvetica-Neue-Bold;
        letter-spacing: 0;
        color: #282c3f;
      }
    }
    .border-button {
      position: relative;
      // width: 60%;
      // margin: auto;
      a {
        border: 1px solid #8a939f;
        justify-content: center;
        align-items: center;
      }
      span {
        font-size: 15px;
      }
    }
  }
}
