.modalsizeontablet {
  @media (min-width: 576px) and (max-width: 992px) {
    max-width: 800px !important;
  }
  .form-control {
    min-height: 35px;
  }
}
.formaddedit {
  .color-button {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: inline-block;
    margin-top: 15px;
    margin-right: 6px;

    .sub_btn {
      background-color: #fdcc5d;
      display: block;
      text-align: center;
      padding: 7px 1rem;
      border-radius: 0px;
    }
    span {
      font: normal normal 300 15px/18px Helvetica-Neue-Bold;
      letter-spacing: 0px;
      color: #282c3f;
    }
  }
  .floating-field {
    label {
    //  font: normal normal normal 1.1rem/18px Helvetica-Neue-Medium;
    }
  }
  .floating-field,
  .position-relative {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .react-tel-input {
    margin-top: 6%;
  }

  .form-group {
    margin-bottom: 2.5rem;
    margin-top: 5px;
    input,
    select {
      font: normal normal 500 15px/18px Helvetica-Neue;
      letter-spacing: 0.3px;
      color: #000000;
      &.form-control::placeholder {
        color: #000000;
      }
    }
  }
  .heading {
    p {
      color: #282c3f;
      font: normal normal 300 1rem/15px Helvetica-Neue-Bold;
      letter-spacing: 0px;
    }
  }
  .addressheading {
    p {
      color: #81869d;
      font: normal normal 300 15px/40px Helvetica-Neue-Bold;
      letter-spacing: 0px;
    }
  }
  .addresstype {
    display: flex;
    justify-content: space-between;
    align-items: center;
    input,
    select,
    label {
      font: normal normal 500 15px/18px Helvetica-Neue;
      letter-spacing: 0.3px;
      color: #000000;
      &.form-control::placeholder {
        color: #000000;
      }
    }
    input[type="radio"]:checked + label {
      color: #ef9c00;
    }
    input[type="radio"]:checked {
      &:before {
        border-color: #fbc52d;
      }
      &::after {
        background-color: #fbc52d;
      }
    }
  }
  .notice {
    .form-check-label {
      color: #7d808b;
      font: normal normal 500 15px/18px Helvetica-Neue;
    }
  }
  .close-button {
    position: absolute;
    right: 3%;
    top: 2%;
    color: #282c3f;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .submit_btn {
    background-color: #fdcc5d;
    display: block;
    text-align: center;
    padding: 8px 0px;
    border-radius: 0px;
    width: 100%;
  }
}

.removealert {
  text-align: center;
  .border-button {
    position: relative;
    width: 100%;
    max-width: 128px;
    display: inline-block;
    margin-top: 15px;
    margin: 10px 15px;
    cursor: pointer;
    .remove_btn {
      padding: 5px;
      background: #fff;
    }
    span {
      font: normal normal 300 1rem/17px Helvetica-Neue-Bold;
      letter-spacing: 0px;
      color: #282c3f;
      border: 1px solid #cacbd0;
      border-radius: 4px !important;
      display: block;
      text-align: center;
      padding: 10px 0px;
      width: 100%;
      cursor: pointer;
    }
  }
  .alerttext {
    p {
      color: #282c3f;
      font: normal normal 300 1rem/40px Helvetica-Neue-Bold;
      letter-spacing: 0px;
      margin-bottom: 10px;
    }
  }
}
.otp_input {
  > div {
    justify-content: space-between;
  }
  .otp_value {
    justify-content: space-between;
  }
  input {
    width: 80% !important;
    height: 2em !important;
    border: none;
    border-bottom: 1px solid #838282;
  }
}
.formaddeditProfilePhoto {
  .api_alert_mgs {
    .btn-close {
      padding: 0.8rem;
    }
  }
}
