.QualityServices_page {
  position: relative;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: -130% top;
  .max-content {
    max-width: 1366px;
  }
  .QualityServices-heading {
    padding-top: 3rem;
    text-align: center;
    .heading-label {
      padding-top: 25px;
    }
    span {
      letter-spacing: 1.28px;
      color: #989898;
      text-transform: uppercase;
      padding-left: 22px;
      border-left: 2px solid #ffd64f;
    }

    h1 {
      font: normal normal medium 2.8rem/49px Helvetica-Neue;
      padding-top: 20px;
    }
  }

  .QualityServices_text.col-md-6.col-sm-12 {
    padding-top: 60px;
  }

  .shop-link {
    padding: 24px;

    a {
      border-bottom: 2px solid #fdcc5d;
      color: #434343;
      font: normal normal normal 1.1rem Helvetica-Neue-Medium;
      letter-spacing: 0.45px;
      color: #434343;
      padding-bottom: 3px;
    }
  }

  .QualityServices.col-sm-6 {
    order: 1;
  }

  .QualityServices_Collection {
    padding-top: 5rem;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
  .QualityServices_text h1 {
    // font-size: 40px;
    font: normal normal medium 2.8rem/49px Helvetica-Neue;
    padding-left: 22px;
    border-left: 2px solid #ffd64f;
  }
  p {
    font: normal normal 300 1.27rem/31px Helvetica-Neue-Light;
    font-size: 17.78px;
    letter-spacing: 0.54px;
    padding: 1.8rem;
    width: 95%;
  }

  .QualityServices_text.col-sm-6 {
    padding-top: 60px;
  }

  .QualityServices {
    img {
      height: 460px;
    }
  }
}

// @media (max-width:1320px) {

//   .QualityServices {
//     background-position: -145% top;
// }
// }

@media (max-width: 992px) {
  .QualityServices_page .QualityServices img {
    height: auto !important;
  }

  .QualityServices_page .shop-link {
    padding: 0px 24px 24px 2px;
  }
  .QualityServices_page .QualityServices_text.col-md-6.col-sm-12 {
    padding-top: 0px;
  }
  .QualityServices_page p {
    width: 100%;
    padding: 20px 0 0 0;
  }
}
@media (max-width: 576px) {
  .QualityServices {
    img {
      height: auto !important;
    }
  }
  .QualityServices_page .QualityServices_Collection {
    padding-top: 0;
  }

  // .QualityServices  img {
  //   order: 1;
  // }
  .QualityServices_page .QualityServices_text h1,.QualityServices_text h2 {
    font: normal normal medium 1rem/15px Helvetica-Neue !important;
  }
}
@media (max-width: 767px) {
  .QualityServices_text {
    order: 2;
    padding-top: 30px !important;
  }
  .QualityServices_page .QualityServices_text {
    padding-top: 30px;
  }
  .QualityServices_page .QualityServices-heading .heading-label {
    padding-bottom: 30px;
  }
}
