.QualityServices {
  position: relative;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: -130% top;

  .max-content {
    max-width: 1366px;
  }

  .QualityServices-heading {
    padding-top: 3rem;
    text-align: center;

    .heading-label {
      padding-top: 25px;
    }

    span,
    p {
      display: inline;
      letter-spacing: 1.28px;
      color: #989898;
      text-transform: uppercase;
      padding-left: 22px;
      border-left: 2px solid #ffd64f;
    }

    h1 {
      font: normal normal medium 2.8rem/49px Helvetica-Neue;
      font-size: 35px;
      padding: 20px 0;
    }
  }

  .QualityServices_text {
    padding-top: 2rem;

    p {
      font: normal normal 300 1.27rem/31px Helvetica-Neue-Light;
      font-size: 17.78px;
      letter-spacing: 0.54px;
      padding: 1.8rem;
      width: 95%;
    }
  }

  .shop-link {
    padding: 24px;

    a {
      border-bottom: 2px solid #fdcc5d;
      color: #434343;
      font: normal normal normal 1.1rem Helvetica-Neue-Medium;
      letter-spacing: 0.45px;
      color: #434343;
      padding-bottom: 3px;
    }
  }

  .QualityServices_Collection {
    padding-top: 5rem;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  .QualityServices_text h1,
  .QualityServices_text h2 {
    font-size: 40px;
    padding-left: 22px;
    border-left: 2px solid #ffd64f;
  }

  .QualityServices {
    img {
      width: auto;
    }
  }
}

// @media (max-width:1320px) {

//   .QualityServices {
//     background-position: -130% top;
// }
// }

// @media (max-width:1520px) {

//   .QualityServices {
//     background-position: -100% top;

// }
// }

@media (max-width: 992px) {
  .QualityServices .shop-link {
    padding: 0px 24px 24px 24px;
  }

  .QualityServices .QualityServices_text.col-sm-6 {
    padding-top: 15px;
  }

  .QualityServices p {
    width: 100%;
    // padding: 20px 0 0 0;
  }

  .QualityServices {
    background-position: 402% top;
  }
}

@media (max-width: 767px) {
  .QualityServices {
    img {
      height: auto !important;
    }

    .QualityServices_text.col-lg-6.col-md-6.col-sm-12 {
      order: 2;
      padding-top: 30px;
    }
  }
}

@media (max-width: 567px) {
  .QualityServices img {
    order: 2;
  }

  .QualityServices_page .QualityServices_text h1 {
    font: normal normal medium 1rem/15px Helvetica-Neue;
  }

  .QualityServices {
    .QualityServices_text h1 {
      font-size: 25px;
    }

    .QualityServices_Collection {
      padding-top: 0rem;
    }

    .QualityServices_text.col-sm-6 {
      padding-top: 40px;
    }

    .QualityServices-heading {
      padding-top: 2rem;

      h1 {
        font-size: 25.1px;
      }
    }

    .QualityServices p {
      padding-left: 0px;
      width: 100%;
    }

    .QualityServices img {
      padding-top: 30px;
    }
  }
}