.Simplpieces {
        padding-top: 80px;
        position: relative;
        max-height: 761px;
        background-color: #f5f5f5;
        .max-content {
          max-width: 1362px;
          margin:0  auto;
        }
        .sedar-btn { 
          margin-top: 20px;
        }
        .col-first {
          h1 {
            border-left: 2px solid #ffd64f;
            padding-left: 8%;
            padding-top: 10px;
          }
          p {
            font:normal normal 300 1.27rem/31px Helvetica-Neue-Light;
            padding: 7rem 0 0 4rem;
            line-height: 33px;
            opacity: 1;
          }
        }
        .col-second {
          p {
            font:normal normal 300 1.27rem/31px Helvetica-Neue-Light;
            letter-spacing: 0.54px;
            
            padding-bottom: 50px;
          }
        }
        .sedar-btn {
            margin-top: 20px;
          }
        
        
      }


      @media (max-width: 767px) {

        .Simplpieces {
          max-height: none;
        
        }
        .Simplpieces .col-first p{
        padding: 3rem 0 3rem 0 ;
      }
      
     
    }
