.ToolsAndinstructions {
  position: relative;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-attachment: fixed;

  .max-content {
    max-width: 1364px;
    margin: 0 auto;
  }

  .heading-section {
    h1 {
      font: normal normal normal 2.8rem/49px Helvetica-Neue-Medium;
      font-size: 39.2px;
      letter-spacing: 0px;
      color: #1b1d1d;
      text-align: center;

      @media (max-width: 768px) {
        font-size: 27.86px;
        line-height: normal;
      }
    }
  }

  .image_fit {
    height: 300px;
    object-fit: cover;
  }

  .tab-section {
    position: relative;

    .desk-tabnav {
      justify-content: center;

      @media (max-width: 768px) {
        justify-content: flex-start;
      }

      .nav-item {
        display: flex;

        .nav-link {
          font: normal normal normal 1.3rem/25px Helvetica-Neue-Medium;
          font-size: 18.2px;
          letter-spacing: 0px;
          color: #000000;
          opacity: 0.47;
          padding: 0 0 5px 0;

          &.active {
            background-color: transparent;
            opacity: 1;
            border-bottom: 2px solid #ffba1f;
            border-radius: 0;
          }
        }

        &:last-child {
          &:after {
            content: "";
          }
        }

        &:after {
          content: "|";
          padding: 0 4rem;
        }
      }
    }

    .tab-grid {
      cursor: pointer;

      h5 {
        font: normal normal normal 1.1rem/20px Helvetica-Neue-Medium;
        letter-spacing: 0px;
        color: #000000;
        padding: 8px 0px 18px 0px;
      }

      @media (max-width: 768px) {
        h5 {
          font-size: 1rem;
          padding: 10px 0 2rem;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .ToolsAndinstructions .tab-section .desk-tabnav .nav-item::after {
    content: "|";
    padding: 0 2rem;
  }
}

@media (max-width: 576px) {
  .ToolsAndinstructions .tab-section .desk-tabnav .nav-item .nav-link {
    font: normal normal normal 1rem/17px Helvetica-Neue-Medium;
    padding: 0 10px 15px 10px;
  }

  .ToolsAndinstructions .tab-section .desk-tabnav .nav-item::after {
    content: none;
    padding: 0 2rem;
  }

  .ToolsAndinstructions .desk-tabnav .nav-link {
    font: normal normal normal 1.1rem/25px Helvetica-Neue-Medium;
    border-bottom: 1px solid #888;
    border-radius: 0;

    &.active {
      font: normal normal normal 1.1rem/25px Helvetica-Neue-Medium;
      border-radius: 0;
    }
  }
}

.ToolsAndinstructionsModal {
  .image_fit {
    max-height: 300px;
    object-fit: cover;
  }
}
