.ToolsAndGuidFaq {
  position: relative;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: fixed;
  .heading-section {
    padding: 1.25rem;
    h1 {
      font: normal normal normal 2.8rem/49px Helvetica-Neue-Medium;
      font-size: 39.2px;
      letter-spacing: 0px;
      color: #000000;
      @media (max-width: 768px) {
        font-size: 27.86px;
        line-height: normal;
      }
    }
  }
  .maxwidth {
    max-width: 1024px;
  }
  .faq-collapse {
    position: relative;
    .card {
      border: 0;
      border-bottom: 1px solid #dcdee5;
      background-color: #f5f5f5;

      .faq-question-text {
        font: normal normal 600 1.27rem/23px Helvetica-Neue;
        font-size: 17.78px;
        letter-spacing: 0.54px;
        color: #000000;
        padding-left: 20px;
      }
      .iconcollapse {
        position: relative;
        font-size: 30px;
        font-weight: 700;
      }
      .card-body {
        padding-left: 65px;
        padding-right: 0;
        padding-top: 0;
        .body-content {
          border-left: 2px solid #fdcc5d;
          padding-left: 30px;
          p {
            font: normal normal 300 1.15rem/32px Helvetica-Neue-Light;
            font-size: 16.1px;
            letter-spacing: 0.48px;
            color: #000000;
          }
        }

        @media (max-width: 768px) {
          padding-left: 15px;
        }
      }
    }
    .card-header {
      border: 0;
      background: transparent;
      padding: 33px 1.25rem;
      cursor: pointer;
    }
  }
}

@media (max-width: 576px) {
  .ToolsAndGuidFaq .faq-collapse .card .faq-question-text {
    position: absolute;
  }
}
