#Topbar {
  background-color: #1a1818;
  color: #ffffff;
  font-size: 13px;

  .Topbar {
    padding-right: 18px;
    white-space: nowrap;
  }

  ul {
    margin-bottom: 0;
  }

  // .dot {
  //   height: 2px;
  //   width: 2px;
  //   background-color: #ffffff;
  //   display: inline-block;
  //   vertical-align: middle;
  // }
  .border_arrow {
    border: solid#ffffff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px 2.5px 2.5px 2.5px;
    margin-bottom: 2.5px;
    margin-left: 6px;

    &.down {
      transform: rotate(45deg);
    }
  }

  .promotion {
    font: normal normal normal 13px/15px Helvetica-Neue;
    letter-spacing: 0.13px;
    color: #ffffff;
    white-space: nowrap;
    // padding: 1rem 0 10px 0;

    .swiper-wrapper {
      max-height: 20px;
    }
  }

  .contact_topbar {
    // padding: 1rem 0 10px 0;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 0.26px;
    font: normal normal normal 13px/15px Helvetica-Neue;
    letter-spacing: 0.26px;
    color: #ffffff;

    ul {
      li {
        display: inline-block;
        padding: 0 8.7px;
        margin-left: 0;
        padding-right: 0;

        a {
          color: #ffffff;

          &:focus {
            color: #ef9c00;
          }
        }

        span {
          // background-color: red;
          margin: 0 5px;

          @media (min-width: 1300px) {
            margin-left: 11.8px;
            margin-right: 11.8px;
          }
        }

        img {
          margin-top: -4.2px;
        }

        &:nth-of-type(4) {
          span:nth-of-type(1) {
            margin-left: 6px;
          }

          &:nth-of-type(6) {
            span:nth-of-type(1),
            span:nth-of-type(3) {
              margin-left: 0;
            }
          }
        }
      }

      .language {
        span {
          letter-spacing: normal;
        }
      }

      .Contactli,
      .countryli {
        padding-left: 12px;

        .dropdown {
          z-index: 99;
        }
      }
    }

    .dot {
      // margin-right: 19px;
      margin-right: 0;
      margin-left: 15.4px;
      margin-top: -2.4px;
    }

    .location_icon,
    .email_icon {
      margin-right: 13px;
      margin-top: -3px;
    }
    .Country_menu {
      cursor: pointer;

      &:focus {
        color: #ef9c00;
      }

      .flag_icon {
        margin-right: 4px;
        margin-left: 4px;
        height: 19px;
        width: 19px;
        border-radius: 50%;
        margin-top: -4px;
      }

      // padding-right: 20px;
      > a {
        padding: 0;
        color: #000 !important;
      }
    }

    .country-dropdown {
      margin: 10px 10px 10px -11px;
      margin-left: -11px;
      border: 1px solid #9c9c9c95;
      width: max-content;

      .dropdown-item {
        color: #000;
        padding: 10px;

        &.active,
        &:active {
          background: transparent;
        }
      }

      .flag_icon {
        margin-right: 18px;
        height: 19px;
        width: 19px;
        border-radius: 50%;
        margin-top: -4px;
      }
    }
    .countrySlesh {
      padding: 0px 4px 0px 4px;
    }
  }

  @media (min-width: 1201px) and (max-width: 1499px) {
    /* CSS */
    .contact_topbar {
      letter-spacing: normal;
      white-space: nowrap;
      ul {
        .Contactli,
        .countryli {
          padding-left: 0px;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1600px) {
    /* CSS */
    .promotion,
    .contact_topbar {
      font-size: 12px;
      padding: 8px 0;
    }
  }

  /* 
  ##Device = Laptops, Desktops
 
*/
  @media (min-width: 992px) and (max-width: 1199px) {
    /* CSS */

    .contact_topbar {
      li {
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3) {
          display: none;
        }
      }

      .dot {
        display: none;
      }
    }
  }

  /* 
  ##Device = Tablets, Ipads (landscape)
 
*/
  @media (min-width: 767px) and (max-width: 991px) {
    /* CSS */
    .contact_topbar {
      li {
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3) {
          display: none;
        }
      }

      .dot {
        display: none;
      }
    }
  }

  /* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  
*/

  /* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
 
*/
  @media (max-width: 767px) {
    /* CSS */
    .contact_topbar {
      display: none;
    }

    .promotion {
      text-align: center;
      padding: 9px 0 10px 0;
    }
  }

  @media (max-width: 576px) {
    #Topbar {
      margin: 0;
    }

    .promotion {
      font-size: 11px;
    }
  }
}
