.loginPopup {
  .modal-body {
    padding: 0px;
  }
  &.modal-dialog {
    // max-width: 468px;
    .modal-content {
      padding: 2rem 1.5rem;
      @media (max-width: 576px) {
        padding: 0.8rem;
      }
      border-radius: 5px;
      .modal-header {
        border: none;
      }
    }
    @media (max-width: 576px) {
      align-items: end;
      margin: 0;
      max-width: 100%;
      width: 100%;
      height: 100%;
      .modal-content {
        border-radius: 0;
      }
    }
  }
  .fb_btn {
    font-size: 12px !important;
    background-color: #1877f2 !important;
    height: 40px !important;
  }
  .google_btn {
    font-size: 12px !important;
    color: #00000073 !important;
    height: 40px !important;
  }
  .opacity4 {
    opacity: 0.4;
  }
  #pwdshowhide {
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #cacbd0;
    border-radius: 0;
  }

  .orange_color_text {
    font: normal normal normal 1rem/17px Helvetica-Neue-Medium;
    letter-spacing: 0.28px;
    color: #ef9c00;
    cursor: pointer;
  }
  .signup_link {
    text-align: center;
    font: normal normal normal 15px/18px Helvetica-Neue-Medium;
    letter-spacing: 0px;
    color: #000000;
  }
  .inputerror {
    font: normal normal normal 13px/15px Helvetica-Neue;
    letter-spacing: 0.26px;
    color: #f16565;
  }

  .floating-field {
    margin-top: 2rem;
    margin-bottom: 0.4rem;
    label {
      font: normal normal normal 15px/18px Helvetica-Neue-Medium;
      letter-spacing: 0.3px;
      color: #000000;
      &.inputerror {
        font: normal normal normal 13px/15px Helvetica-Neue;
        letter-spacing: 0.26px;
        color: #f16565;
      }
    }
    input {
      border-color: #cacbd0;
      &:not(:placeholder-shown) + label,
      &:focus + label {
        color: #7d808b;
        font: normal normal normal 13px/15px Helvetica-Neue;
      }
    }
  }

  .border-button {
    position: relative;
    width: 100%;
    margin-top: 5px;

    a,
    button,
    .ladda-button {
      border: 1px solid #cacbd0;
      display: block;
      text-align: center;
      padding: 11px 0px;
      border-radius: 0px;
      width: 100%;
    }
    span {
      font: normal normal normal 15px/18px Helvetica-Neue-Bold;
      letter-spacing: 0px;
      color: #000;
    }
  }
  .color-button {
    position: relative;
    width: 100%;
    margin-top: 5px;

    a,
    button,
    .ladda-button {
      background-color: #ffd560;
      display: block;
      text-align: center;
      padding: 12px 0px;
      border-radius: 0px;
      border: none;
      width: 100%;
      &:hover {
        background-color: #eaaf60;
        color: #fff;
      }
    }
    span {
      font: normal normal normal 15px/18px Helvetica-Neue-Bold;
      letter-spacing: 0px;
      color: #000;
    }
  }

  .section3 {
    .user_input_wrp {
      text-align: center;
      h3 {
        font: normal normal normal 21px/24px Helvetica-Neue-Medium;
        letter-spacing: 0.42px;
        color: #000000;
      }
      p {
        font: normal normal normal 1rem/24px Helvetica-Neue;
        letter-spacing: 0.28px;
        color: #5a5a5a;
      }
    }
  }
  label.country_lov {
    color: #7d808b;
    font: normal normal normal 13px/15px Helvetica-Neue;
  }
  .otp_input {
    > div {
      justify-content: space-between;
    }
    .otp_value {
      justify-content: space-between;
      border-bottom: 1px solid #838282;
      margin: 0px 8px;
    }
    input {
      width: 80% !important;
      height: 2em !important;
      border: none;
      border-bottom: 0px solid #838282;
    }
  }
  .fa-google {
    background: conic-gradient(
        from -45deg,
        #ea4335 110deg,
        #4285f4 90deg 180deg,
        #34a853 180deg 270deg,
        #fbbc05 270deg
      )
      73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  .read_only {
    background-color: #b2b2b2;
    opacity: 0.5;
    cursor:pointer;
  }
}

.SortItemPopup {
  .modal-dialog {
    @media (max-width: 576px) {
      align-items: end;
      margin: 0;
      max-width: 100%;
      width: 100%;
      height: 100%;
      .modal-content {
        border-radius: 0;
      }
    }
  }
}

.error_text {
  padding: 8px;
  font-size: 14px;
}
