section {
  position: relative;
  background-color: #f5f5f5;
  padding: 0px 0;
}

.head-section {
  position: relative;
  text-align: center;
  padding: 60px 20px 20px;
}
.span-tag {
  font: normal normal normal 1.15rem/19px Helvetica-Neue-Medium;
  letter-spacing: 0;
  color: #626262;
  text-transform: uppercase;
}

.h1-tag {
  font: normal normal normal 2.8rem/49px Helvetica-Neue-Medium;
  font-size: 39.2px;
  letter-spacing: 0;
  color: #000;
  margin-top: 22px;
  margin-bottom: 22px;
}

.country-list {
  position: relative;
  padding: 25px 65px;
  background-color: #fff;
  margin: 0 auto;
  max-width: 312px;
}

.Our-offices {
  padding: 25px 15px;
}

.h1-tag-2 {
  font: normal normal normal 22px/27px Helvetica-Neue-Bold;
  letter-spacing: 0;
  color: #000;
  opacity: 0.5;
}

.list-group-item {
  border: none !important;
  font: normal normal normal 1rem/19px Helvetica-Neue-Medium;
  letter-spacing: 0;
  color: #000;
  opacity: 0.58;
  cursor: pointer;
}
